<div class="row row-centered page-header-background">
    <div class="col-xs-8 center-block header-left">
        <div class="um-cover" data-ratio="3.2:1">

            <div class="um-cover-e">

                {% if is_edit_profile %}
                <a href
                   data-toggle="modal"
                   data-target="#cover_image_modal"
                   class="um-cover-add um-manual-trigger"
                   data-parent=".um-cover"
                   data-child=".um-btn-auto-width"
                   id="upload-cover-image-button">
                    <span class="um-cover-add-i">

                        <i class="um-icon-plus um-tip-n" title="Upload a cover photo"></i>

                    </span>

                </a>
                {% endif %}

                {% if is_edit_profile%}
                <img id="cover-image-image" src="{{ profile_header.cover_image|default_if_none:'' }}"/>
                {% else %}
                    {% if profile_header.cover_image %}
                    <img id="cover-image-image" src="{{ profile_header.cover_image|default_if_none:'' }}"/>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="um-header">
            <div class="um-profile-photo">
                <a href="#" class="um-profile-photo-img" title="{{ profile_header.name }}">
                    <span class="um-profile-photo-overlay">
                        <span class="um-profile-photo-overlay-s">
                            <ins>
                                <i class="um-faicon-camera"></i>
                            </ins>
                        </span>
                    </span>
                    <img src="{{ profile_header.profile_picture|default_if_none:'' }}" id="profile-picture-image" class="gravatar avatar avatar-190 um-avatar" width="190" height="190" alt="" />
                </a>
                <div style="display: none !important;">
                    <div class="um-field um-field-profile_photo" data-key="profile_photo">
                        <input type="hidden" name="profile_photo" id="profile_photo" value="" />
                        <div class="um-field-label">
                            <label for="profile_photo">Change your profile photo</label>
                            <div class="um-clear"></div>
                        </div>
                        <div class="um-field-area" style="text-align: center">
                            <div class="um-single-image-preview crop" data-crop="square" data-key="profile_photo">
                                <a href="#" class="cancel"><i class="um-icon-close"></i></a>

                            </div>
                            <a href="#" data-modal="um_upload_single" data-modal-size="normal" data-modal-copy="1" class="um-button um-btn-auto-width">Upload</a>
                        </div>

                    </div>
                </div>
                {% if is_edit_profile%}
                <div class="um-dropdown" data-element="div.um-profile-photo" data-position="bc" data-trigger="click">
                    <div class="um-dropdown-b">
                        <div class="um-dropdown-arr"><i class=""></i></div>
                        <ul>
                            <li><a href data-toggle="modal" data-target="#profile_picture_modal" id="upload-profile-picture-button">Upload photo</a></li>
                            <li><a href="#" class="um-dropdown-hide">Cancel</a></li>
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="um-profile-meta">
                <div class="um-main-meta">
                    <div>
                        <div class="row header-student-name">
                            <div class="col-sm-6">
                                <a class="black-bold-text" href="{% url 'profile' profile_header.profile_link %}" title="{{ profile_header.name }}">{{ profile_header.name }}</a>
                            </div>
                            {% if profile_header.overall_gpa %}
                            <div class="col-sm-3">
                                <a class="black-bold-text">{{ profile_header.overall_gpa }} GPA</a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="um-school">{{ profile_header.degree }}</div>
                        <div class="um-school">{{ profile_header.college_name }}</div>
                        <div class="um-school">{{ profile_header.major }}</div>
                    </div>
                    <div class="um-clear"></div>
                </div>
                <div class="um-meta">
                </div>
                <div class="um-profile-status approved">
                    <span>This user account status is Approved</span>
                </div>
            </div>
            <div class="um-clear"></div>

        </div>

    </div>
    <div class="col-xs-10 header-right">
        {% if is_gradline_page %}
            <div class="gradline-sidebar centered-div">

                <div>
                    <h4>Complete your Profile</h4>
                    {% if is_profile_completed %}
                        <p class="completed"><span class="glyphicon glyphicon-ok-circle"></span>
                    {% else %}
                        <p class="incomplete"><span class="glyphicon glyphicon-remove-circle"></span>
                    {% endif %}

                        Profile is complete!</p>

                    <div id="loan-statements-completed">
                    {% if has_uploaded_loan_documents %}
                        <p class="completed"><span class="glyphicon glyphicon-ok-circle loan-statements-completed-icon"></span>
                    {% else %}
                        <p class="incomplete"><span class="glyphicon glyphicon-remove-circle loan-statements-completed-icon"></span>
                    {% endif %}

                            Loan Statements were

                        <span id="loan-statements-completed-verified" style="display: {% if are_loan_documents_verified %} inline-block {% else %} none {% endif %}">verified!</span>
                        <span id="loan-statements-completed-submitted" style="display: {% if not are_loan_documents_verified %} inline-block {% else %} none {% endif %}">submitted!</span>

                        </p>
                    </div>

                    {% if has_agreed_to_terms %}
                        <p class="completed"><span class="glyphicon glyphicon-ok-circle"></span>
                    {% else %}
                        <p class="incomplete"><span class="glyphicon glyphicon-remove-circle"></span>
                    {% endif %}

                        You agreed to the Terms!</p>
                </div>
            </div>

        {% else %}
        {% include 'profile/profile-pledge.html' %}
        {% endif %}
    </div>
</div>
<div style="margin-top: 2px"></div>