{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Main Wrapper Start -->
<div id="content" class="clearfix layout-">
    <div class="clearfix wrapper">
        <div class="normal-content ">
            <div class="um um-profile um-editing profile">
                <div class="um-form">


                        {% with True as is_edit_profile %}
                        {% include 'profile/profile-header.html' %}
                        {% endwith %}

                        {% include 'navigation.html' %}
                        <form method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class='um-profile-body main main-default'>
                            {{ form.non_field_errors }}
                            <div class="gradline-container">
                                <div class="gradline-main">
                                    <div class="um-row _um_row_1 " style="margin: 0 0 30px 0;">
                                        <div class="um-col-1">
                                            <div class="um-field">
                                                <div class="um-field-label">
                                                    <label for="{{ form.grad_story.id_for_label }}" {% if form.grad_story.errors %} class="errorlist" {% endif %}>GradStory</label>
                                                    <span class="um-tip um-tip-w" title="Don't worry, keep it simple!">
                                                    <i class="um-icon-help-circled"></i>
                                                    </span>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.grad_story }}
                                                </div>
                                                {{ form.grad_story.errors }}
                                            </div>
                                            <div class="um-field">
                                                <div class="um-field-label">
                                                    <label for="{{ form.overall_gpa.id_for_label }}" {% if form.overall_gpa.errors %} class="errorlist" {% endif %}>Overall GPA</label>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.overall_gpa }}
                                                </div>
                                                {{ form.overall_gpa.errors }}
                                            </div>
                                            <br>
                                            <div>
                                                <div class="um-field-label">
                                                    <label for="{{ form.hobbies.id_for_label }}" {% if form.hobbies.errors %} class="errorlist" {% endif %}>Hobbies</label>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.hobbies }}
                                                </div>
                                                {{ form.hobbies.errors }}
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="um-col-1">


                                            <div class="um-field um-field-high_school" data-key="high_school">


                                                <div class="um-field-label">
                                                    <label>Are you currently in high school?</label>
                                                </div>

                                                <div class="um-field-area">
                                                <div class="row">
                                                {% for radio in form.is_high_school_student %}
                                                    <div class="col-xs-4">
                                                    <label for="{{ radio.id_for_label }}">
                                                        <span class="radio um-field-radio-option">{{ radio.tag }}</span>
                                                        {{ radio.choice_label }}

                                                    </label>
                                                        </div>
                                                {% endfor %}
                                                </div>

                                                </div>

                                            </div>


                                            <div id="high_school_section" class="{% if form.is_high_school_student.value == 0 %} collapse {% endif %}">
                                                <div class="um-field">
                                                    <div class="um-field-label">
                                                        <label for="{{ form.high_school_name.id_for_label }}" {% if form.high_school_name.errors %} class="errorlist" {% endif %}>Most Recent High School</label>
                                                        <div class="um-clear"></div>
                                                    </div>
                                                    <div class="um-field-area">
                                                        {{ form.high_school_name }}
                                                    </div>
                                                    {{ form.high_school_name.errors }}
                                                </div>
                                                <div class="um-field">
                                                    <div class="um-field-label">
                                                        <label for="{{ form.high_school_graduation_date.id_for_label }}" {% if form.high_school_graduation_date.errors %} class="errorlist" {% endif %}>Graduation Date</label>
                                                        <div class="um-clear"></div>
                                                    </div>
                                                    <div class="um-field-area center">
                                                        {{ form.high_school_graduation_date }}
                                                    </div>
                                                    {{ form.high_school_graduation_date.errors }}
                                                </div>
                                                <div class="um-field">
                                                    <div class="um-field-label">
                                                        <label for="{{ form.high_school_projects.id_for_label }}" {% if form.high_school_projects.errors %} class="errorlist" {% endif %}>My Projects</label>
                                                        <div class="um-clear"></div>
                                                    </div>
                                                    <div class="um-field-area">
                                                        {{ form.high_school_projects }}
                                                    </div>
                                                    {{ form.high_school_projects.errors }}
                                                </div>
                                                <div class="um-field">
                                                    <div class="um-field-label">
                                                        <label "{{ form.high_school_story.id_for_label }}" {% if form.high_school_story.errors %} class="errorlist" {% endif %}>My Story</label>
                                                        <span class="um-tip um-tip-w" title="Your High School Experience">
                                                        <i class="um-icon-help-circled"></i>
                                                        </span>
                                                    </div>
                                                    <div class="um-field-area">
                                                        {{ form.high_school_story }}
                                                    </div>
                                                    {{ form.high_school_story.errors }}
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="um-col-121"></div>
                                        <div class="um-col-122"></div>
                                        <div class="um-clear"></div>
                                        <div class="um-col-1">
                                            <div class="um-field um-field-school">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_1_name.id_for_label }}" {% if form.college_1_name.errors %} class="errorlist" {% endif %}>1st College</label>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.college_1_name }}
                                                </div>
                                                {{ form.college_1_name.errors }}
                                            </div>
                                        </div>
                                        <div class="um-col-1">
                                            <div class="um-field daterange">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_1_start_date.id_for_label }}" {% if form.college_1_start_date.errors %} class="errorlist" {% endif %}>Current College Dates Attended</label>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area">
                                                    <ul class="list-inline input-daterange align-left">
                                                        <li> {{ form.college_1_start_date }} </li>
                                                        <li> TO </li>
                                                        <li> {{ form.college_1_end_date }} </li>
                                                    </ul>
                                                </div>
                                                {{ form.college_1_start_date.errors }}
                                                {{ form.college_1_end_date.errors }}
                                            </div>
                                        </div>
                                        <div class="um-col-1">
                                            <div class="um-field">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_1_degree.id_for_label }}" {% if form.college_1_degree.errors %} class="errorlist" {% endif %}>Degree</label>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area dropdown">
                                                    {{ form.college_1_degree }}
                                                </div>
                                                {{ form.college_1_degree.errors }}
                                            </div>
                                            <div class="um-field um-field-major">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_1_major.id_for_label }}" {% if form.college_1_major.errors %} class="errorlist" {% endif %}>Major</label>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.college_1_major }}
                                                </div>
                                                {{ form.college_1_major.errors }}
                                            </div>
                                            <div class="um-field um-field-mysubjects">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_1_subjects.id_for_label }}" {% if form.college_1_subjects.errors %} class="errorlist" {% endif %}>My Subjects</label>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.college_1_subjects }}
                                                </div>
                                                {{ form.college_1_subjects.errors }}
                                            </div>
                                            <div class="um-field um-field-myprojects1">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_1_projects.id_for_label }}" {% if form.college_1_projects.errors %} class="errorlist" {% endif %}>My Projects</label>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.college_1_projects }}
                                                </div>
                                                {{ form.college_1_projects.errors }}
                                            </div>
                                            <div class="um-field um-field-mystory" data-key="mystory">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_1_story.id_for_label }}" {% if form.college_1_story.errors %} class="errorlist" {% endif %}>My Story</label>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.college_1_story }}
                                                </div>
                                                {{ form.college_1_story.errors }}
                                            </div>
                                        </div>
                                        <hr>


                                        <div id="college_2_section" class="{% if form.attends_college_2.value == 0 %} collapse {% endif %}">
                                        {{ form.attends_college_2 }}
                                        <div class="um-col-122"></div>
                                        <div class="um-clear"></div>
                                        <div class="um-col-1">
                                            <div class="um-field um-field-school">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_2_name.id_for_label }}" {% if form.college_2_name.errors %} class="errorlist" {% endif %}>2nd College</label>
                                                    <button class="right remove-button college-remove-button" data-college-number="2">
                                                        <i class="fa fa-times-circle-o fa-15x alert-danger"></i>
                                                    </button>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.college_2_name }}
                                                </div>
                                                {{ form.college_2_name.errors }}
                                            </div>
                                        </div>
                                        <div class="um-col-1">
                                            <div class="um-field daterange">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_2_start_date.id_for_label }}" {% if form.college_2_start_date.errors %} class="errorlist" {% endif %}>Current College Dates Attended</label>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area">
                                                    <ul class="list-inline input-daterange align-left">
                                                        <li> {{ form.college_2_start_date }} </li>
                                                        <li> TO </li>
                                                        <li> {{ form.college_2_end_date }} </li>
                                                    </ul>
                                                </div>
                                                {{ form.college_2_start_date.errors }}
                                                {{ form.college_2_end_date.errors }}
                                            </div>
                                        </div>
                                        <div class="um-col-1">
                                            <div class="um-field">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_2_degree.id_for_label }}" {% if form.college_2_degree.errors %} class="errorlist" {% endif %}>Degree</label>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area dropdown">
                                                    {{ form.college_2_degree }}
                                                </div>
                                                {{ form.college_2_degree.errors }}
                                            </div>
                                            <div class="um-field um-field-major">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_2_major.id_for_label }}" {% if form.college_2_major.errors %} class="errorlist" {% endif %}>Major</label>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.college_2_major }}
                                                </div>
                                                {{ form.college_2_major.errors }}
                                            </div>
                                            <div class="um-field um-field-mysubjects">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_2_subjects.id_for_label }}" {% if form.college_2_subjects.errors %} class="errorlist" {% endif %}>My Subjects</label>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.college_2_subjects }}
                                                </div>
                                                {{ form.college_2_subjects.errors }}
                                            </div>
                                            <div class="um-field um-field-myprojects1">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_2_projects.id_for_label }}" {% if form.college_2_projects.errors %} class="errorlist" {% endif %}>My Projects</label>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.college_2_projects }}
                                                </div>
                                                {{ form.college_2_projects.errors }}
                                            </div>
                                            <div class="um-field um-field-mystory" data-key="mystory">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_2_story.id_for_label }}" {% if form.college_2_story.errors %} class="errorlist" {% endif %}>My Story</label>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.college_2_story }}
                                                </div>
                                                {{ form.college_2_story.errors }}
                                            </div>
                                        </div>
                                        <hr>
                                        </div>



                                        <div id="college_3_section" class="{% if form.attends_college_3.value == 0 %} collapse {% endif %}">
                                        {{ form.attends_college_3 }}
                                        <div class="um-col-122"></div>
                                        <div class="um-clear"></div>
                                        <div class="um-col-1">
                                            <div class="um-field um-field-school">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_3_name.id_for_label }}" {% if form.college_3_name.errors %} class="errorlist" {% endif %}>3rd College</label>
                                                    <button class="right remove-button college-remove-button" data-college-number="3">
                                                        <i class="fa fa-times-circle-o fa-15x alert-danger"></i>
                                                    </button>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.college_3_name }}
                                                </div>
                                                {{ form.college_3_name.errors }}
                                            </div>
                                        </div>
                                        <div class="um-col-1">
                                            <div class="um-field daterange">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_3_start_date.id_for_label }}" {% if form.college_3_start_date.errors %} class="errorlist" {% endif %}>Current College Dates Attended</label>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area">
                                                    <ul class="list-inline input-daterange align-left">
                                                        <li> {{ form.college_3_start_date }} </li>
                                                        <li> TO </li>
                                                        <li> {{ form.college_3_end_date }} </li>
                                                    </ul>
                                                </div>
                                                {{ form.college_3_start_date.errors }}
                                                {{ form.college_3_end_date.errors }}
                                            </div>
                                        </div>
                                        <div class="um-col-1">
                                            <div class="um-field">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_3_degree.id_for_label }}" {% if form.college_3_degree.errors %} class="errorlist" {% endif %}>Degree</label>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area dropdown">
                                                    {{ form.college_3_degree }}
                                                </div>
                                                {{ form.college_3_degree.errors }}
                                            </div>
                                            <div class="um-field um-field-major">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_3_major.id_for_label }}" {% if form.college_3_major.errors %} class="errorlist" {% endif %}>Major</label>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.college_3_major }}
                                                </div>
                                                {{ form.college_3_major.errors }}
                                            </div>
                                            <div class="um-field um-field-mysubjects">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_3_subjects.id_for_label }}" {% if form.college_3_subjects.errors %} class="errorlist" {% endif %}>My Subjects</label>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.college_3_subjects }}
                                                </div>
                                                {{ form.college_3_subjects.errors }}
                                            </div>
                                            <div class="um-field um-field-myprojects1">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_3_projects.id_for_label }}" {% if form.college_3_projects.errors %} class="errorlist" {% endif %}>My Projects</label>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.college_3_projects }}
                                                </div>
                                                {{ form.college_3_projects.errors }}
                                            </div>
                                            <div class="um-field um-field-mystory" data-key="mystory">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_3_story.id_for_label }}" {% if form.college_3_story.errors %} class="errorlist" {% endif %}>My Story</label>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.college_3_story }}
                                                </div>
                                                {{ form.college_3_story.errors }}
                                            </div>
                                        </div>
                                        <hr>
                                        </div>




                                        <div id="college_4_section" class="{% if form.attends_college_4.value == 0 %} collapse {% endif %}">
                                        {{ form.attends_college_4 }}
                                        <div class="um-col-122"></div>
                                        <div class="um-clear"></div>
                                        <div class="um-col-1">
                                            <div class="um-field um-field-school">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_4_name.id_for_label }}" {% if form.college_4_name.errors %} class="errorlist" {% endif %}>4th College</label>
                                                    <button class="right remove-button college-remove-button" data-college-number="4">
                                                        <i class="fa fa-times-circle-o fa-15x alert-danger"></i>
                                                    </button>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.college_4_name }}
                                                </div>
                                                {{ form.college_4_name.errors }}
                                            </div>
                                        </div>
                                        <div class="um-col-1">
                                            <div class="um-field daterange">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_4_start_date.id_for_label }}" {% if form.college_4_start_date.errors %} class="errorlist" {% endif %}>Current College Dates Attended</label>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area">
                                                    <ul class="list-inline input-daterange align-left">
                                                        <li> {{ form.college_4_start_date }} </li>
                                                        <li> TO </li>
                                                        <li> {{ form.college_4_end_date }} </li>
                                                    </ul>
                                                </div>
                                                {{ form.college_4_start_date.errors }}
                                                {{ form.college_4_end_date.errors }}
                                            </div>
                                        </div>
                                        <div class="um-col-1">
                                            <div class="um-field">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_4_degree.id_for_label }}" {% if form.college_4_degree.errors %} class="errorlist" {% endif %}>Degree</label>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area dropdown">
                                                    {{ form.college_4_degree }}
                                                </div>
                                                {{ form.college_4_degree.errors }}
                                            </div>
                                            <div class="um-field um-field-major">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_4_major.id_for_label }}" {% if form.college_4_major.errors %} class="errorlist" {% endif %}>Major</label>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.college_4_major }}
                                                </div>
                                                {{ form.college_4_major.errors }}
                                            </div>
                                            <div class="um-field um-field-mysubjects">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_4_subjects.id_for_label }}" {% if form.college_4_subjects.errors %} class="errorlist" {% endif %}>My Subjects</label>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.college_4_subjects }}
                                                </div>
                                                {{ form.college_4_subjects.errors }}
                                            </div>
                                            <div class="um-field um-field-myprojects1">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_4_projects.id_for_label }}" {% if form.college_4_projects.errors %} class="errorlist" {% endif %}>My Projects</label>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.college_4_projects }}
                                                </div>
                                                {{ form.college_4_projects.errors }}
                                            </div>
                                            <div class="um-field um-field-mystory" data-key="mystory">
                                                <div class="um-field-label">
                                                    <label for="{{ form.college_4_story.id_for_label }}" {% if form.college_4_story.errors %} class="errorlist" {% endif %}>My Story</label>
                                                    <div class="um-clear"></div>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.college_4_story }}
                                                </div>
                                                {{ form.college_4_story.errors }}
                                            </div>
                                        </div>
                                        <hr>
                                        </div>



                                        <div class="um-col-1" id="add_another_college_section">
                                            <div class="um-field">
                                                <div class="um-field-area">
                                                    <button class="um-button btn-new" data-college-number-top-open="2" id="add_another_college">Add Another College</button>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>


                                        <div class="um-row _um_row_5 " style="margin: 0 0 30px 0;">
                                            <div class="um-col-1">
                                                <div class="um-field um-field-volunteer">
                                                    <div class="um-field-label">
                                                        <label for="{{ form.volunteer_projects_internships.id_for_label }}" {% if form.volunteer_projects_internships.errors %} class="errorlist" {% endif %}>Volunteer Projects / Internships</label>
                                                        <div class="um-clear"></div>
                                                    </div>
                                                    <div class="um-field-area">
                                                        {{ form.volunteer_projects_internships }}
                                                    </div>
                                                    {{ form.volunteer_projects_internships.errors }}
                                                </div>
                                                <div class="um-field um-field-more_about_me">
                                                    <div class="um-field-label">
                                                        <label for="{{ form.more_about_me.id_for_label }}" {% if form.more_about_me.errors %} class="errorlist" {% endif %}>More About Me</label>
                                                        <div class="um-clear"></div>
                                                    </div>
                                                    <div class="um-field-area">
                                                        {{ form.more_about_me }}
                                                    </div>
                                                    {{ form.more_about_me.errors }}
                                                </div>
                                            </div>
                                        </div>
                                        <hr>

                                        <div class="um-col-alt">
                                            <div class="um-left um-half"><input type="submit" value="Update Profile" class="um-button btn-new" /></div>
                                            <div class="um-right um-half"><a href="{% url 'profile' user.pk %}" class="um-button btn-new-danger">Cancel</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Inner Wrapper End -->
</div>
<!-- Main Wrapper End -->
</div>
{% endblock %}