{% load social_share %}

<div class="pledges-container centered-div">
    <div class="pledge-progress"
         percentage="{{ pledge_info.percentage_pledged }}"
         current-amount="{{ pledge_info.total_pledged_amount }}"
         goal-amount="{{ pledge_info.goal_amount }}"
         backers="{{ pledge_info.number_of_pledges }}">
    </div>

    <div class="id-widget-wrap nofloat">
        <div class="ignitiondeck id-widget id-full" data-projectid="88">
            <div class="id-product-infobox">
                <button data-toggle="modal"
                        data-target="#payment-start-modal"
                        class="main-btn support-button"
                        data-student-name="{{ profile_header.name }}"
                        data-student-user-id="{{ user_id }}">Support Now</button>
                <!-- end product levels -->

                <ul class="bb-social-share__list">

                    <li class="bb-social-share__item">
                        {% post_to_facebook ""%}
                    </li>

                    <li class="bb-social-share__item">
                        {% post_to_twitter "" ""%}
                    </li>

                    <li class="bb-social-share__item">
                        <a href="http://www.linkedin.com/shareArticle?url={{ BASE_URL }}{% url 'profile' profile_header.profile_link %}&title={{ profile_header.name }}"
                           class="bb-social-share__link"
                           target="_blank"
                           data-social-network="linkedin">
                            <i class="fa fa-linkedin"></i>
                            <span>LinkedIn</span>
                        </a>
                    </li>

                    <li class="bb-social-share__item">
                        {% post_to_gplus ""%}
                    </li>

                </ul>

            </div>
            <!-- end product-infobox -->

        </div>
        <!-- end id-widget -->
    </div>
</div>
