{% if high_school %}

<div class="um-col-1">
    {% if high_school.name %}
    <div class="um-field um-field-school">
        <div class="um-field-area">
            <div class="um-field-value">{{ high_school.name }}</div>
        </div>
    </div>
    {% endif %}

    <div class="um-field um-field-major">
        <div class="um-field-area">
            <div class="um-field-value">{{ high_school.graduation_date }}</div>
        </div>
    </div>


    {% if high_school.projects %}
    <div class="um-field um-field-myprojects1_48" data-key="myprojects1_48">
        <div class="um-field-label">
            <label>My Projects</label>
        </div>
        <div class="um-field-area">
            <p class="um-field-value">{{ high_school.projects }}</p>
        </div>
    </div>
    {% endif %}


    {% if high_school.story %}
    <div class="um-field um-field-mystory_49" data-key="mystory_49">
        <div class="um-field-label">
            <label>My Story</label>
        </div>
        <div class="um-field-area">
            <p class="um-field-value">{{ high_school.story }}</p>
        </div>
    </div>
    {% endif %}

</div>
<br>
{% endif %}