<article class="krown-id-item profile-overview-item">
    <a class="fancybox-thumb" href="{% url 'profile' profile_overview.profile_link %}">
        <figure class="img">
            <img src="{{ profile_overview.profile_picture }}" width="510" height="510" alt="{{ profile_overview.name }}" />
        </figure>
    </a>
    <div class="container">
        <a href="{% url 'profile' profile_overview.profile_link %}">
            <h3 class="title">{{ profile_overview.name }}</h3>
        </a>
        <div class="cats">

            {% if profile_overview.degree %}
                {{ profile_overview.degree }}
                <br>
            {% endif %}


            {% if profile_overview.major %}
            <span>
                {{ profile_overview.major }}
                </span>
                <br>
            {% endif %}



            {% if profile_overview.overall_gpa %}
                {{ profile_overview.overall_gpa }} GPA
            {% endif %}
        </div>
        <section class="content">{{ profile_overview.college_name }}</section>

        <div
            class="pledge-progress"
            percentage="{{ profile_overview.pledges.percentage_pledged }}"
            current-amount="{{ profile_overview.pledges.total_pledged_amount }}"
            goal-amount="{{ profile_overview.pledges.goal_amount }}"
            backers="{{ profile_overview.pledges.number_of_pledges }}">
        </div>
        <br>
        <button
                class="btn btn-success support-button waves"
                data-toggle="modal"
                data-target="#payment-start-modal"
                data-student-name="{{ profile_overview.name }}"
                data-student-user-id="{{ profile_overview.user_id }}">
            Support
        </button>
    </div>
</article>