{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <!-- Main Wrapper Start -->
<div id="content" class="clearfix layout-">
    <div class="clearfix wrapper">
        <div class="normal-content ">
            <div class="um um-login login uimob500">
                <div class="um-form center">
                    <form method="post" action="">

                        {% csrf_token %}

                        <div class="um-field um-field-password_reset_text" data-key="password_reset_text">
                            <div class="um-field-block">
                                <div style="text-align:center">To reset your password, please enter your email address below</div>
                            </div>
                        </div>
                        <div class="um-row _um_row_1 center" style="margin: 0 0 30px 0; text-align:center">
                        <div class="um-col-131">
                        <div class="um-field um-field-username" data-key="username_b">
                            {{ form.non_field_errors }}
                            <div class="um-field-area center">
                                {{ form.email }}
                            </div>
                            {{ form.email.errors }}
                        </div>
                        <div class="um-col-alt um-col-alt-b center">
                            <div class="um-center"><input type="submit" value="Reset my password" class="um-button" /></div>
                            <div class="um-clear"></div>
                        </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Inner Wrapper End -->
    </div>
    <!-- Main Wrapper End -->
</div>

{% endblock %}