{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <!-- Main Wrapper Start -->
    <div id="content" class="clearfix layout-fixed-width">
        <div class="clearfix wrapper">
            <div class="normal-content no-boxed">
                <h1>About GradLift</h1>
                <div class="krown-column-row clearfix">
                    <div class="krown-column-container clearfix first span3 clearfix">
                        <i class="krown-icon-ok i-regular b-float" style="color:#55AF57"></i>
                        <p>Authenticated Fundraising</p>
                        <p>We verify all students, tuition, and loan information so that our generous Backers feel comfortable with contributing towards a Validated cause.</p>
                        <p>
                    </div>
                    <div class="krown-column-container clearfix span3 clearfix">
                        </p>
                        <i class="krown-icon-wallet i-regular b-float" style="color:#55AF57"></i>
                        <p>Verified Payments</p>
                        <p>All funds raised with GradLift go straight to the school and student loan providers, insuring that all contributions go only towards their intended purpose.</p>
                        <p>
                    </div>
                    <div class="krown-column-container clearfix span3 clearfix">
                        </p>
                        <i class="krown-icon-money i-regular b-float" style="color:#55AF57"></i>
                        <p>Every Dollar Helps</p>
                        <p>GradLift was created to harness the power of crowd funding for a noble cause. Small contributions add up quick so join the GradLift Movement and help your favorite students!</p>
                        <p>
                    </div>
                    <div class="krown-column-container clearfix last span3 clearfix">
                        </p>
                        <i class="krown-icon-graduation-cap-1 i-regular b-float" style="color:#55AF57"></i>
                        <p>Empower Students</p>
                        <p>By helping students unshackle themselves from the burden of debt, you are giving them a brighter future. Be a part of their journey and watch them succeed!</p>
                        <p>
                    </div>
                </div>
                </p>
            </div>
            <!-- Inner Wrapper End -->
        </div>
        <!-- Main Wrapper End -->
    </div>
{% endblock %}