    {% extends 'base.html' %}
    {% load staticfiles %}

    {% block content %}
    <br>
    <!-- Main Wrapper Start -->
    <div id="content" class="clearfix layout-fixed-width" style="margin-top: 60px;">

        <h1 class="text-center" style="margin-top:50px">
            About us
        </h1>
        <div class="highlight-background row index-footer" id="index-footer">
            <div>
                <div class="col-sm-3 padding-zero">
                    <div class="card-flat">
                        <p style="margin-top: 22px;margin-bottom: 0px;text-align: left;"><i
                                class="krown-icon-money i-regular b-float" style="color:#55AF57"></i></p>
                        <h4>Every Dollar<br>Helps</h4>
                        <p>GradLift was created to harness the power of Crowdfunding for a noble cause. Small contributions
                            add up quick so join the GradLift Movement and help your favorite students!</p>
                    </div>

                </div>
                <div class="col-sm-3 padding-zero">
                    <div class="card-flat">
                        <p style="margin-top: 22px;margin-bottom: 0px;text-align: left;"><i
                                class="krown-icon-graduation-cap-1 i-regular b-float" style="color:#55AF57"></i></p>
                        <h4>Empower<br>Students</h4>
                        <p>By helping students unshackle themselves from the burden of debt, you are giving them a brighter
                            future. Be a part of their journey and watch them succeed!</p>
                    </div>
                </div>
                <div class="col-sm-3 padding-zero">
                    <div class="card-flat">
                        <p style="margin-top: 22px;margin-bottom: 0px;text-align: left;"><i
                                class="krown-icon-ok i-regular b-float" style="color:#55AF57"></i></p>
                        <h4>Authenticated<br>Fundraising</h4>
                        <p>We verify all students, tuition, and loan information so that our generous Backers feel
                            comfortable with contributing towards a Validated cause.</p>
                    </div>
                </div>
                <div class="col-sm-3 padding-zero">
                    <div class="card-flat">
                        <p style="margin-top: 22px;margin-bottom: 0px;text-align: left;"><i
                                class="krown-icon-wallet i-regular b-float" style="color:#55AF57"></i></p>
                        <h4>Verified<br>Payments</h4>
                        <p>All funds raised with GradLift go straight to the school and student loan providers, insuring
                            that all contributions go only towards their intended purpose.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container">
    <h2 style="margin-top:50px">
        Why use GradLift?
    </h2>

    <p>
        Take your college costs into your own hands.  With the Do-It- Yourself Scholarship, you can raise money for
        your education, and we will send the money in directly for you. GradLift invented authenticated crowdfunding.
    </p>

    <h2>
        What's the difference between GradLift and Others?
    </h2>
    <ul style="list-style-type:disc ; margin:25px">
        <li>Same fees, but way more services</li>
        <li>If you're a current degree candidate, you may not owe any taxes on the funds you raise (check with your
            financial aid office for confirmation)
        </li>
        <li>GradLift validates student members</li>
        <li>GradLift validates that the student really needs money for tuition</li>
        <li>GradLift pays all funds that you raise directly to your university, 529 College Savings Account, Coverdell
            Education Savings Account, or student loan provider
        </li>
        <li>GradLift is focused on students only, providing features specific to your needs</li>
        <li>GradLift is helping students crowdfund their own scholarship. SIGN UP FREE HERE</li>
    </ul>
    <h2>
        Want to help a student?
    </h2>
    <p>
        Give someone a LIFT! Our student members are validated.
        We only send funds to their intended source once verifying the costs are real.
        Support them now by clicking HERE and finding a student to help.
        You can contribute $5 and up. Every little bit helps.
    </p>
    <h2>
        Questions?
    </h2>
    <p>
        Email is anytime at <a style="text-decoration:none" href="mailto:wecare@gradlift.com?subject=SweetWords">wecare@gradlift.com</a>
    </p>
    <h2>
        What does GradLift cost?
    </h2>
    <p>
        Signup is and always will be free. We deduct our fee from your contributions which is standard industry practice in
        crowdfunding.
        We deduct 5% plus credit card transaction fees of 2.9% plus $0.30 per transaction.
    </p>
    <div class="">
 <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
 <iframe allowfullscreen="" src="https://player.vimeo.com/video/163782474" frameborder="0" width="500" height="281"></iframe>

  </div>


   </div>

</div>
    {% endblock %}