{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<!--[if lt IE 8]> 
<html lang="en-US" prefix="og: http://ogp.me/ns#" class="ie7 ie" xmlns="http://www.w3.org/1999/xhtml">
<![endif]-->
<!--[if IE 8]>
<html lang="en-US" prefix="og: http://ogp.me/ns#" class="ie8 ie" xmlns="http://www.w3.org/1999/xhtml">
<![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US" prefix="og: http://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml">
    <!--<![endif]-->
    <head>

        <title>Gradlift &#8211 {% if profile_header.name %} {{ profile_header.name }} {% else %}Conquer Your Student Debt {% endif %}</title>

        <link rel='shortlink' href="{{ BASE_URL }}" />
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'website/images/favicon.ico' %}" />

        <!-- META -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="format-detection" content="telephone=no">

        <!-- This site is optimized with the Yoast SEO plugin v2.3.5 - https://yoast.com/wordpress/plugins/seo/ -->
        <meta name="description" content="The Do-It-Yourself Scholarship is here! GradLift is the fun, easy, and secure way to raise money for school or help a student in need."/>

        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="Gradlift"/>

        {% if blog %}

            <meta property="og:description" content="{{ blog.content }}"/>
            <meta property="og:url" content="{{ BASE_URL }}{{ blog.link }}">
            <meta property="og:title" content="Gradlift - {{ blog.title }}">
            <meta property="og:image" content="{{ BASE_URL }}{{ blog.image_url }}"/>

        {% else %}

            <meta property="og:description" content="The Do-It-Yourself Scholarship is here! GradLift is the fun, easy, and secure way to raise money for school or help a student in need."/>

            {% if profile_header.name %}
            <meta property="og:title" content="Gradlift - {{ profile_header.name }}" />
            {% else %}
            <meta property="og:title" content="Gradlift" />
            {% endif %}

            {% if profile_header.profile_link %}
            <meta property="og:url" content="{{ BASE_URL }}{% url 'profile' profile_header.profile_link %}">
            {% else %}
            <meta property="og:url" content="{{ BASE_URL }}">
            {% endif %}

            {% if profile_header.profile_picture %}
                <meta property="og:image" content="{{ BASE_URL }}{{ profile_header.profile_picture }}"/>
            {% else %}
                <meta property="og:image" content="{% static 'website/images/gradlift-admin.png' %}" />
            {% endif %}

        {% endif %}


        <script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","url":"{{ BASE_URL }}","name":"Gradlift","potentialAction":{"@type":"SearchAction","target":"{{ BASE_URL }}\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
        <!-- / Yoast SEO plugin. -->


        <!-- Javascript libraries -->
        <!--[if lt IE 9]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <!-- Roboto font -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
        <!-- Stylesheet libraries -->
        <link rel='stylesheet' id='font-awesome-css'  href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' type='text/css' media='all' />
        <link rel='stylesheet' id='videojs-css'  href='https://vjs.zencdn.net/5.5.3/video-js.css' type='text/css' media='all' />
        <link rel='stylesheet' id='krown-font-head-css'  href='https://fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C400italic%2C500%2C600%2C700%2C700%2C800&#038;ver=6781292640e23927c5a53e94cdc55fa5' type='text/css' media='all' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
        <link rel='stylesheet' href="{% static 'website/wp-statics/wp-base-page.css' %}" type='text/css'/>

        <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>

        {% compress css %}

        <link rel='stylesheet' href="{% static 'website/css/libs/datepicker.css' %}" type='text/css'/>
        <link rel='stylesheet' href="{% static 'website/css/libs/bootstrap-social.css' %}" type='text/css'/>
        <link rel='stylesheet' href="{% static 'website/css/libs/jquery.percentageloader-0.1.css' %}" type='text/css'/>
        <link rel='stylesheet' href="{% static 'website/css/libs/bootstrap-toggle.min.css' %}" type='text/css'/>
        <link rel='stylesheet' href="{% static 'website/css/libs/bootstrap-dialog.min.css' %}" type='text/css'/>
        <link rel='stylesheet' href="{% static 'website/css/libs/croppie.css' %}" type='text/css'/>
        <link rel='stylesheet' href="{% static 'website/css/libs/waves.min.css' %}" type='text/css'/>

        <!-- Stylesheets -->

        <link rel='stylesheet' href="{% static 'website/wp-statics/superfly-dynamic-styles.css' %}" type='text/css'/>
        <link rel='stylesheet' href="{% static 'website/css/index.css' %}" type='text/css'/>
        <link rel='stylesheet' href="{% static 'website/css/login.css' %}" type='text/css'/>
        <link rel='stylesheet' href="{% static 'website/css/register.css' %}" type='text/css'/>
        <link rel='stylesheet' href="{% static 'website/css/profile.css' %}" type='text/css'/>
        <link rel='stylesheet' href="{% static 'website/css/account.css' %}" type='text/css'/>
        <link rel='stylesheet' href="{% static 'website/css/activity-feed.css' %}" type='text/css'/>
        <link rel='stylesheet' href="{% static 'website/css/file-upload.css' %}" type='text/css'/>
        <link rel='stylesheet' href="{% static 'website/css/payment.css' %}" type='text/css'/>

        {% endcompress %}


        {% if IS_ANALYTICS_ENABLED %}
            <!-- Analytics Data Start !-->
            <noscript>
                <iframe src="" www.googletagmanager.com="" ns.html?id="GTM-W69LMB""" height="" 0""="" width="" 0""="" style="" display:none;visibility:hidden""="">
                </iframe>
            </noscript>
            <script>
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-W69LMB');
            </script>
            <!-- Analytics Data End !-->
        {% endif %}

    </head>
    <body id="body" class="home page page-id-835 page-template page-template-template-slider page-template-template-slider-php sticky-header no-touch fixed-width background-color no-js">
        <!-- Header Start -->
        <header id="header" class="clearfix navbar-bg-color ">
            <div class=" clearfix">
                <div class="wrapper clearfix ">

                    <nav class="navbar navbar-default">
                        <div class="nav-wraper">
                        <!-- Logo Start -->
                        <a id="logo" href="{% url 'index' %}" style="width:170px;height:55px">
                            <img class="default" src="{% static 'website/images/gradlift.png' %}" alt="Gradlift" />
                            <img class="retina" src="{% static 'website/images/gradlift@2x.png' %}" alt="Gradlift" />
                        </a>
                        <!-- Logo End -->
                        <div class="container-fluid">

                            <div class=" navbar-header">
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-nav" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                            </div>

                            <div class="collapse navbar-collapse main-header-navbar" id="top-nav">

                                <ul class="nav navbar-nav navbar-content-center">
                                    <li role="presentation" class="rulebook" >
                                        <a href="{% url 'about-us' %}"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;about us</a>
                                     <!--   <a href="https://vimeo.com/user23678632/gradlift" data-remote="https://player.vimeo.com/video/163782474" data-toggle="lightbox"><span class="glyphicon glyphicon-play"></span>&nbsp;Video</a> !-->
                                    </li>

                                    <li role="presentation" class="faq" >
                                        <a href="{% url 'faq' %}"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;RULEBOOK</a>
                                    </li>

                                    <li role="presentation" class="blog" >
                                        <a href="{% url 'blogs' %}"><span class="glyphicon glyphicon-book"></span>&nbsp;Blog</a>
                                    </li>

                                    <li role="presentation" class="navTitle forBakers"> <h6> For Backers </h6></li>
                                    <li role="presentation" class="search-field-li  search-box">
                                        <form role="search" method="GET" id="discover-form" class="hover-show" action="{% url 'discover' %}" >
                                            <input type="search" value="" name="search-term" id="s" placeholder="Search students by Name, School, Field of Study or Keyword" class="headerSearch" />
                                            <input id="submit_s" type="submit"/>
                                        </form>
                                    </li>

                                    <li role="presentation" class="navTitle forStudents"> <h6> For Students </h6></li>
                                    {% if user.is_authenticated %}

                                    <li role="presentation" class=" login-me">
                                        <a class="menu-profile" href="{% url 'profile' user.profile.link %}"><span class="glyphicon glyphicon-user"></span>&nbsp;Me</a>
                                    </li>
                                    <li role="presentation" class=" logout-reg">
                                        <a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a>
                                    </li>
                                    {% else %}
                                    <li role="presentation" class=" login-me">
                                        <a class="menu-login" href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Login</a>
                                    </li>
                                    <li role="presentation" class=" logout-reg">
                                        <a class="menu-register" href="{% url 'register' %}"><span class="glyphicon glyphicon-education"></span>&nbsp;Register</a>
                                    </li>
                                    {% endif %}
                                  </ul>

                            </div>
                        </div>
                        </div>
                    </nav>

                </div>
            </div>
        </header>

        {% if messages %}
            {% for message in messages %}
                <div style="width: 100%;" class="text-center">
                    <div class="alert {% if message.tags %}alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} {% endif %}" style="margin-top: 100px; margin-bottom: -80px; width: 80%; text-align: center; margin-left:10%">
                      {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <!-- Header End -->

        {% block content %}
        {% endblock %}

        <!-- Footer #1 Wrapper Start -->
        <footer id="footer1" class="footer clearfix footerText " style="padding-bottom: 0px">
            <div class="krown-column-row wrapper clearfix">
                <div class="krown-column-container span3">
                    <section id="nav_menu-5" class="widget widget_nav_menu clearfix">
                        <h4 class="widget-title">STUDENTS &#038; BACKERS</h4>
                        <div class="menu-footer-menu-1-container">
                            <ul id="menu-footer-menu-1" class="menu">
                                {% if user.is_authenticated %}

                                <li id="menu-item-1008" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1008">
                                    <a href="{% url 'profile' user.profile.link %}">Me</a>
                                </li>
                                <li id="menu-item-1149" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1149">
                                    <a href="{% url 'discover' %}">Fund Students</a>
                                </li>
                                <li id="menu-item-1148" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1148">
                                    <a href="{% url 'logout' %}">Logout</a>
                                </li>

                                {% else %}

                                <li id="menu-item-1148" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1148">
                                    <a href="{% url 'register' %}">Sign Up</a>
                                </li>
                                <li id="menu-item-1008" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1008">
                                    <a href="{% url 'discover' %}">Fund Students</a>
                                </li>
                                <li id="menu-item-1149" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1149">
                                    <a href="{% url 'login' %}">Login</a>
                                </li>

                                {% endif %}
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="krown-column-container span3 clearfix">
                    <section id="nav_menu-3" class="widget widget_nav_menu clearfix">
                        <h4 class="widget-title">ABOUT GRADLIFT</h4>
                        <div class="menu-footer-menu-2-container">
                            <ul id="menu-footer-menu-2" class="menu">
                                <li id="menu-item-1439" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1439">
                                    <a href="{% url 'about-us' %}">About GradLift</a>
                                </li>

                                <li id="menu-item-1067" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1067">
                                    <a href="{% url 'blogs' %}">GradLift Blog</a>
                                </li>

                                <li id="menu-item-1068" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1068">
                                    <a href="{% url 'contact' %}">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="krown-column-container span3 clearfix">
                    <section id="nav_menu-4" class="widget widget_nav_menu clearfix">
                        <h4 class="widget-title">HELP</h4>
                        <div class="menu-footer-menu-3-container">
                            <ul id="menu-footer-menu-3" class="menu">
                                <li id="menu-item-1089" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1089">
                                    <a href="{% url 'faq' %}">RULEBOOK</a>
                                </li>
                                <li id="menu-item-1091" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1091">
                                    <a href="{% url 'privacy-policy' %}">Privacy Policy</a>
                                </li>
                                <li id="menu-item-1090" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1090">
                                    <a href="{% url 'terms-of-service' %}">Terms of Service</a>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="krown-column-container span3">
                    <section id="text-4" class="widget widget_text clearfix">
                        <div class="textwidget">
                            <a href="/">
                                <img src="{% static 'website/images/gradlift-G-grayscale.png' %}" class="alignright" width="50" height="50">
                            </a>
                        </div>
                    </section>
                </div>
            </div>
        </footer>
        <!-- Footer #1 Wrapper End -->
        <!-- Footer #2 Wrapper Start -->
        <footer id="footer2" class="footer clearfix">
            <div class="wrapper clearfix">
                <div class="left clearfix">
                    <div id="text-5" class="widget left widget_text">
                        <div class="textwidget">© 2016 GRADLIFT, INC.</div>
                    </div>
                </div>
                <div class="right clearfix">
                </div>
            </div>
        </footer>
        <!-- Footer End -->
        <!-- GTT Button -->
        <a id="top" href="#"></a>
        <!-- IE7 Message Start -->
        <div id="oldie">
            <p>This is a unique website which will require a more modern browser to work!<br /><br />
                <a href="https://www.google.com/chrome/" target="_blank">Please upgrade today!</a>
            </p>
        </div>
        <!-- IE7 Message End -->
        <div id="um_upload_single" style="display:none">
        </div>
        <div id="um_view_photo" style="display:none">
            <a href="#" data-action="um_remove_modal" class="um-modal-close"><i class="um-faicon-times"></i></a>
            <div class="um-modal-body photo">
                <div class="um-modal-photo">
                </div>
            </div>
        </div>
        <div id="sf-sidebar" style="opacity:0" class="sf-hl-semi sf-indicators">
            <div class="sf-scroll-wrapper">
                <div class="sf-scroll">
                    <div class="sf-logo">
                        <a href="/"><img src="{% static 'website/images/gradlift-G3.png' %}" alt=""></a>
                        <div class="sf-title">
                        </div>
                    </div>
                    <nav class="sf-nav">
                        <div class="sf-va-middle">
                            <ul id="sf-nav" class="menu">
                                {% if user.is_authenticated %}
                                <li id="menu-item-1008" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1008">
                                    <a href="{% url 'profile' user.profile.link %}">Me</a>
                                </li>
                                <li id="menu-item-1149" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1149">
                                    <a href="{% url 'discover' %}">Discover Students</a>
                                </li>
                                <li id="menu-item-1148" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1148">
                                    <a href="{% url 'logout' %}">Logout</a>
                                </li>
                                {% else %}
                                <li id="menu-item-1008" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1008">
                                    <a href="{% url 'discover' %}">Discover</a>
                                </li>
                                <li id="menu-item-1149" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1149">
                                    <a href="{% url 'login' %}">Login</a>
                                </li>
                                <li id="menu-item-1148" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1148">
                                    <a href="{% url 'register' %}">Register</a>
                                </li>
                                {% endif %}

                            </ul>
                            <div class="widget-area"></div>
                        </div>
                    </nav>
                    <!-- CUSTOM CONTENT HERE -->
                    <ul class="sf-social"></ul>
                </div>
            </div>
            <div class="sf-sidebar-bg"></div>
            <div class="sf-rollback sf-color1 sf-label-visible sf-label-none" style>
                <div class="sf-navicon-button x">
                    <div class="sf-navicon"></div>
                </div>
            </div>
            <div class="sf-view sf-view-level-custom">
                <span class="sf-close"></span>
            </div>
        </div>
        <div id="sf-overlay-wrapper">
            <div id="sf-overlay"></div>
        </div>

        {% include 'profile/payment-start.html' %}

        {% with image_upload_modals.profile_picture as image_upload %}
        {% include 'profile/profile-image-upload.html' %}
        {% endwith %}

        {% with image_upload_modals.cover_image as image_upload %}
        {% include 'profile/profile-image-upload.html' %}
        {% endwith %}



        <script type='text/javascript' src="{% static 'website/js/libs/jquery-2.2.0.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'website/js/libs/jquery.cookie.js' %}"></script>
        <script type='text/javascript' src="{% static 'website/js/libs/moment.js' %}"></script>
        <script type='text/javascript' src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/4.0.1/ekko-lightbox.min.js"></script>

        <script type='text/javascript' src="https://checkout.stripe.com/checkout.js"></script>


        {% compress js %}

        <script type='text/javascript' src="{% static 'website/js/libs/bootstrap-datepicker.js' %}"></script>
        <script type='text/javascript' src="{% static 'website/js/libs/typeahead.bundle.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'website/js/libs/smooth-scrolling.js' %}"></script>

        <script type='text/javascript' src="{% static 'website/js/libs/jquery.knob.js' %}"></script>
        <script type='text/javascript' src="{% static 'website/js/libs/jquery.ui.widget.js' %}"></script>
        <script type='text/javascript' src="{% static 'website/js/libs/jquery.iframe-transport.js' %}"></script>
        <script type='text/javascript' src="{% static 'website/js/libs/jquery.fileupload.js' %}"></script>
        <script type='text/javascript' src="{% static 'website/js/libs/jquery.maskedinput.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'website/js/libs/jquery.quickfit.js' %}"></script>

        <script type='text/javascript' src="{% static 'website/js/libs/croppie.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'website/js/libs/waves.min.js' %}"></script>

        <script type='text/javascript' src="{% static 'website/js/libs/bootstrap-dialog.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'website/js/libs/bootstrap-toggle.min.js' %}"></script>

        <script type='text/javascript' src="{% static 'website/wp-statics/wp-base-scripts.js' %}"></script>

        <script type='text/javascript' src="{% static 'website/js/jquery.percentageloader-0.1.js' %}"></script>
        <script type='text/javascript' src="{% static 'website/js/http.js' %}"></script>
        <script type='text/javascript' src="{% static 'website/js/base.js' %}"></script>
        <script type='text/javascript' src="{% static 'website/js/profile.js' %}"></script>
        <script type='text/javascript' src="{% static 'website/js/file-upload.js' %}"></script>
        <script type='text/javascript' src="{% static 'website/js/image-upload.js' %}"></script>
        <script type='text/javascript' src="{% static 'website/js/account.js' %}"></script>
        <script type='text/javascript' src="{% static 'website/js/payment.js' %}"></script>
        <script type='text/javascript' src="{% static 'website/js/paginations.js' %}"></script>
        <script type='text/javascript' src="{% static 'website/js/blogs.js' %}"></script>

        {% endcompress %}


        <script type="text/javascript">
            {% if institutions %}
            initial_data.auto_completes.institutions = {{ institutions|safe }};
            {% endif %}

            {% if majors %}
            initial_data.auto_completes.majors = {{ majors|safe }};
            {% endif %}
        </script>

        <script type="text/javascript">

            var payment_additional_info = {
                amount: null,
                contribution_type: null,
                is_recurring: null,
                user_id: null,
                name: null
            };

            var handler = StripeCheckout.configure({
                key: '{{ STRIPE_PUBLISHABLE }}',
                image: '{% static "website/images/students.jpg" %}',
                locale: 'auto',
                token: send_payment
            });

        </script>

        <script type="text/javascript">
            Waves.init();

            Waves.attach('.btn, .middle-nav.nav a', ['waves-effect']);

        </script>

    </body>
</html>