{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <br>
    <!-- Main Wrapper Start -->
    <div id="content" class="clearfix layout-fixed-width" style="margin-top: 60px;">
        <div class="clearfix wrapper">
            <div class="normal-content no-boxed">
                <p>
                <div class="krown-column-row clearfix">
                    <div class="krown-column-container clearfix first span4 clearfix">
                        <br />
                        <span style="font-size: 14px; line-height: 22px;">Right now we are doing all support and correspondence by email. By emailing GradLift, you are agreeing to the <a title="Terms of Service" href="{{ BASE_URL }}/terms-of-service/">terms and conditions</a>.</span></p>
                        <p><a href="mailto:wecare@gradlift.com">wecare@gradlift.com</a></p>
                        <p>
                    </div>
                    <div class="krown-column-container clearfix last span8 clearfix">
                        </p>
                        <h3>Drop Us a Line</h3>
                        <section class="krown-form clearfix">
                            <form action="" method="post">

                                {{ form.non_field_errors }}
                                {% csrf_token %}

                                <div class="krown-column-container span4 first">
                                    <label for="{{ form.name.id_for_label }}" {% if form.name.errors %} class="errorlist" {% endif %}>Name</label>
                                    {{ form.name }}
                                    {{ form.name.errors }}
                                </div>

                                <div class="krown-column-container span4">
                                    <label for="{{ form.email.id_for_label }}" {% if form.email.errors %} class="errorlist" {% endif %}>Email</label>
                                    {{ form.email }}
                                    {{ form.email.errors }}
                                </div>

                                <div class="krown-column-container span4 last">
                                    <label for="{{ form.subject.id_for_label }}" {% if form.subject.errors %} class="errorlist" {% endif %}>Subject</label>
                                    {{ form.subject }}
                                    {{ form.subject.errors }}
                                </div>

                                <div class="krown-column-container span12 first last">
                                    <label for="{{ form.message.id_for_label }}" {% if form.message.errors %} class="errorlist" {% endif %}>Your Message</label>
                                    {{ form.message }}
                                    {{ form.message.errors }}
                                </div>

                                <input type="submit" class="submit" value="Send Email" />
                            </form>
                            <p class="hidden success-message">Your message was successfully sent!nThanks you and we will reply as soon as possible..nnHave a nice day,nMe.</p>
                            <p class="hidden error-message">Please complete all the fields properly if you want your email to reach it's destination!</p>
                        </section>
                        <p>
                    </div>
                </div>
                </p>
            </div>
            <!-- Inner Wrapper End -->
        </div>
        <!-- Main Wrapper End -->
    </div>

{% endblock %}