
{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block content %}

    <!-- Main Wrapper Start -->
<div id="content" class="clearfix layout-">
    <div class="clearfix wrapper">
        <div class="normal-content ">
            <div class="um um-profile um-viewing um-1101" data-error_required="This field is required" data-password_not_match="Passwords do not match" data-password_not_long="Password must be 8 characters at least">
                <div class="um-form">

                    {% with False as is_edit_profile %}
                    {% include 'profile/profile-header.html' %}
                    {% endwith %}

                    {% include 'navigation.html' %}
                    <div>
                        <div class="gradline-container macho">

                                <div class="gradlift-loans">
                                    <h5>Your GradLift Scholarship Goal Amount</h5>
                                    <div style="clear:both;"></div>
                                    <div>
                                        <div class="um-field">
                                            <div class="um-field-label">
                                                <label>Goal Amount: ${{ goal_amount|floatformat:2|intcomma }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="gradlift-loans">

                                    <h5>Student Loan Documents</h5>

                                    {% if are_loan_documents_verified %}
                                    <p class="message" id="reviewed-docs-message">We have reviewed and verified your Loan Documents.</p>
                                    {% endif  %}

                                    <p class="message" id="reviewing-docs-message" style="display: {% if has_uploaded_loan_documents and not are_loan_documents_verified %} block {% else %} none {% endif%}">We are reviewing your Loan Documents and will contact you if we need further documentation.</p>


                                    <p><strong>Graduates:</strong> Upload your current student loan statements here. Numerous files are ok if you have multiple loans. We recommend uploading both your federal and private loan statements in PDF form.  Please make sure your student loan includes your full name, account number, and address of the loan provider.</p>
                                    <p><strong>Current Students:</strong> Upload your current tuition statement and/or student loan statements here. Numerous files are ok if you have multiple loans. We recommend uploading both your federal and private loan statements in PDF form.  Please make sure your tuition includes your full name, student ID, and address of the University or School.</p>
                                    <div class="text-center">
                                        <form class="file-drag-upload" method="post" action="{% url 'upload-loan-document' %}" enctype="multipart/form-data">

                                            <div class="file-drop">
                                                <div style="color: white; margin-bottom: 10px;">
                                                Upload loan documents here
                                                    </div>

                                                <a>Browse</a>
                                                <input type="file" name="document" multiple />
                                            </div>

                                            <ul>
                                                <!-- The file uploads will be shown here -->
                                            </ul>

                                        </form>
                                    </div>
                                    <br>
                                    <ul class="list-group" id="student-loan-documents">
                                    {% for loan_document in loan_documents %}
                                        <li class="list-group-item">
                                            <span class="badge">{{ loan_document.datetime }}</span>
                                            {{ loan_document.filename }}
                                            {% if loan_document.is_verified %}<span class="label label-success">Verified <i class="fa fa-check-square-o"></i></span>{% endif %}
                                        </li>
                                    {% endfor %}
                                    </ul>

                                </div>

                                <div class="gradlift-terms">
                                    <h5>Accept the Terms and Conditions</h5>
                                    {% if has_agreed_to_terms %}
                                    <p>You have already accepted our <a href data-toggle="modal" data-target="#terms-of-service">Terms and Conditions</a>.</p>
                                    {% else %}
                                    <p>Please read and accept our <a href data-toggle="modal" data-target="#terms-of-service">Terms and Conditions</a>.</p>
                                    {% endif %}

                                    <!-- Modal -->
                                    <div class="modal fade" id="terms-of-service" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                      <div class="modal-dialog" role="document" style="margin-top: 100px;">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Terms and Conditions</h4>
                                          </div>
                                          <div class="modal-body">
                                            {% include 'terms-of-service-content.html' %}
                                          </div>

                                          <div class="modal-footer">
                                              <form action="{% url 'agreed-to-terms' %}" method="POST">
                                                  {% csrf_token %}
                                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                  {% if has_agreed_to_terms %}
                                                  <button type="button" class="btn btn-primary disabled" disabled="disabled">Already Agreed</button>
                                                  {% else %}
                                                  <button type="submit" class="btn btn-primary">I Agree to terms</button>
                                                  {% endif %}
                                              </form>

                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                </div>

                                <div class="gradlift-loans">
                                    <h5>529 College Savings Account or Coverdell Education Savings Account</h5>
                                    <p>Please provide the following information:</p>
                                    <!-- Fast Secure Contact Form plugin 4.0.38 - begin - FastSecureContactForm.com -->
                                    <div style="clear:both;"></div>
                                    <div id="FSContact1">
                                        <form action="" method="post">
                                            {{ form.non_field_errors }}

                                            {% csrf_token %}

                                            <div class="um-field">
                                                <div class="um-field-label">
                                                    <label for="{{ form.parent_full_name.id_for_label }}" {% if form.parent_full_name.errors %} class="errorlist" {% endif %}>Parent or Legal Guardian Name:<span style="text-align:left;">*</span></label>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.parent_full_name }}
                                                </div>
                                                {{ form.parent_full_name.errors }}
                                            </div>
                                            <br>

                                            <div class="um-field">
                                                <div class="um-field-label">
                                                    <label for="{{ form.parent_phone_number.id_for_label }}" {% if form.parent_phone_number.errors %} class="errorlist" {% endif %}>Parent or Legal Guardian Phone #:<span style="text-align:left;">*</span></label>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.parent_phone_number }}
                                                </div>
                                                {{ form.parent_phone_number.errors }}
                                            </div>
                                            <br>

                                            <div class="um-field">
                                                <div class="um-field-label">
                                                    <label for="{{ form.parent_email.id_for_label }}" {% if form.parent_email.errors %} class="errorlist" {% endif %}>Parent or Legal Guardian Email:</label>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.parent_email }}
                                                </div>
                                                {{ form.parent_email.errors }}
                                            </div>
                                            <br>

                                            <div class="um-field">
                                                <div class="um-field-label">
                                                    <label for="{{ form.account_number.id_for_label }}" {% if form.account_number.errors %} class="errorlist" {% endif %}>529 College Savings Account #:<span style="text-align:left;">*</span></label>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.account_number }}
                                                </div>
                                                {{ form.account_number.errors }}
                                            </div>
                                            <br>

                                            <div class="um-field">
                                                <div class="um-field-label">
                                                    <label for="{{ form.full_name_on_account.id_for_label }}" {% if form.full_name_on_account.errors %} class="errorlist" {% endif %}>Full Name on Account:<span style="text-align:left;">*</span></label>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.full_name_on_account }}
                                                </div>
                                                {{ form.full_name_on_account.errors }}
                                            </div>
                                            <br>

                                            <div class="um-field">
                                                <div class="um-field-label">
                                                    <label for="{{ form.bank_name.id_for_label }}" {% if form.bank_name.errors %} class="errorlist" {% endif %}>Bank Name:<span style="text-align:left;">*</span></label>
                                                </div>
                                                <div class="um-field-area">
                                                    {{ form.bank_name }}
                                                </div>
                                                {{ form.bank_name.errors }}
                                            </div>
                                            <br>

                                            <div id="fscf_submit_div1" style="text-align:left; clear:both; padding-top:15px;">
                                                <input class="submitBtnSize" type="submit" id="fscf_submit1" style="cursor:pointer; margin:0;" value="Submit"  onclick="this.disabled=true; this.value='Submitting...'; this.form.submit();" />
                                            </div>

                                        </form>
                                    </div>
                                    <div style="clear:both;"></div>
                                    <!-- Fast Secure Contact Form plugin 4.0.38 - end - FastSecureContactForm.com -->
                                    <p>Don't have a 529 plan? No problem. <a target = "_blank" href="https://www.scholarshare.com">Click here</a>
                                        for California or find your <a target = "_blank" href="http://www.collegesavings.org/viewState.aspx">state here</a>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}