{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    
    <!-- Main Wrapper Start -->
    <div id="content" class="clearfix layout-fixed-width">
        <div class="clearfix wrapper">
            <div class="normal-content no-boxed">
                <h1 class="p1"><b>Terms and Conditions</b></h1>
                {% include 'terms-of-service-content.html' %}
            </div>
            <!-- Inner Wrapper End -->
        </div>
        <!-- Main Wrapper End -->
    </div>

{% endblock %}