
<strong>Please note:</strong> The Rulebook can be reviewed as a simple summary of this document.
<hr>
<p class="p3" style="text-align: justify">
    <span class="s1">

By using or accessing the GradLift website or any of GradLift’s services (collectively “GradLift Services”) you are agreeing to be bound by all terms, conditions, and requirements contained in these Terms and Conditions (the “Agreement”) as follows:

You understand and intend that this Agreement is a legally binding agreement and the equivalent of a signed, written contract;

You will use the GradLift Services in a manner consistent with applicable laws and regulations and in accordance with the terms and conditions in this Agreement as it may be amended by GradLift from time to time; and

You understand, accept, and have received these Terms and Conditions, and acknowledge and demonstrate that you can access this Agreement.

IF YOU DO NOT AGREE WITH ALL THE TERMS, CONDITIONS, AND REQUIREMENTS IN THIS AGREEMENT, DISCONTINUE ALL FURTHER USE OF THE GRADLIFT SERVICES

In this document the following phrases are defined as:

Contributor: An individual or entity that contributes to a member or posts a comment to a profile.

GradLift: GradLift, Inc.

GradLift Services: This web site, GradLift.com, and any services offered by GradLift or used by you on GradLift.com

Users and Members: An individual that registers an account for GradLift Services.

Fees: A fee of $25 or less for validation may be deducted from your overall funds raised,  with prior notice, in order to review and validate your academic status, educational history, student debt, and complete submission. This is done on an as-needed basis so that GradLift can send funds on your behalf to the ‘intended source’. If you update your profile and need additional items validated a second or third time as you progress in school or have changes due to submission errors, we may require another fee to be deducted from your funds raised. A single validation includes our review of the official transcript, all Student Account summary documents, and all Student Loan documents presented at that time. Once all items processed and approved, GradLift will make a payment on your behalf to the intended source of your scholarship funds.

GradLift’s flat fee is 5% from each contribution that you receive and the processing fee is an additional 2.9% plus $0.30 per transaction. Transaction fees are deducted from each transaction automatically so you will never be billed for any of the fees. Your Backers, or contributors, will never be billed either. The fees are simply deducted from the contributions received on your behalf.

Payment Processing: Our service also works with Stripe, and their user agreement is located on their website at www.stripe.com. If you use our payment processing system, Stripe, you also agree to their terms of service. The transaction processing fees are subject to change without notice from us. This means that the 2.9% plus $0.30 per transaction processing fees may change.

Please note GradLift, Inc. is not the same company as Stripe, which is a third-party website.

When you access third-party websites, you do so at your own risk. GradLift does not control and does not endorse these sites.

Membership Agreement: As a GradLift user, the online profile page will be available to the public on the Internet and on search engines. Your actions are public if displayed on your profile page. You acknowledge and agree that information, including but not limited to total tuition amount owed, student debt total amount, and amount raised by any contributors to date, will be public and is displayed on your profile and private dashboard. You may always delete your profile page by contacting michael@gradlift.com. Sensitive financial information that you post on your own will be displayed. Your amount raised will be displayed publicly. Your transcript will not be displayed publicly but it will be used to validate and authenticate you as a real student with real student loans and/or tuition.

You warrant that if you choose to put information on your public profile page, it will be accurate and in line with your official student transcript, student loans statements, and student account summary, otherwise GradLift retains the right to remove your profile page indefinitely.

GradLift will review, but does not endorse, all content, information, and written items submitted. You may not display inaccurate or false information. We reserve the right to remove all sections that are in conflict with our guidelines and strict commitment to providing an authentic crowdfunding platform.

You are independently responsible for complying with all applicable laws in all of your actions related to your use of GradLift’s services. In addition, you must adhere to the terms of this agreement.

Since all of your personal scholarships received may not appear in your student account summary pages submitted to GradLift, we must announce here that our authentic information is based both on verification of the information submitted and also on the trust of our members to provide accurate and honest information at all times. You agree that GradLift, Inc. will not be held responsible for posting or acting on any false information that is verified, as we too can be deceived in some cases.

Any data, text, files, information, usernames, images, graphics, photos, profiles, works of authorship, GradLift Services, links, or other content or materials (collectively, “Content”) you upload or submit to GradLift will remain your property and GradLift does not claim ownership over your Content. Instead, by using the GradLift Services or submitting or uploading any Content to GradLift, you agree to grant us a worldwide, non-exclusive, perpetual, irrevocable, royalty-free, sub licensable, transferable, right to use, exercise, commercialize, and exploit the copyright, publicity, trademark, and database rights in any way with respect to your Content, including but not limited to developing and marketing products and services, improving the GradLift Website and marketing or advertising GradLift and the GradLift Services. You are also allowing GradLift to advertise on your behalf and you are allowing us to use your photo and Content for advertising and marketing purposes.

Although it is GradLift’s policy not to accept or consider content, information, ideas, suggestions, communications or materials of any kind (your “Communications”), if, despite our policy you choose to e-mail, post, or otherwise transmit to GradLift your Communications, including data, questions, comments, or suggestions, your Communications will become the property of GradLift. You hereby grant a license to GradLift to use any content, ideas, suggestions, concepts, know-how, or techniques contained in your Communications for any purpose whatsoever, including, but not limited to, developing and marketing products and services using such information without any liability or payment of any kind to you.

The display amount showing total contributions does not account for the fees that are taken out by GradLift. For example, if you owe $1,000 in tuition and then raise $1,000 on GradLift, GradLift will not pay $1,000 to your loan provider because the $1,000 is the gross contribution total and the net total after fees may be up to 10% less than that depending on the total amount of transaction fees.

GradLift will decide which of your school, loan provider, financial or academic institution shall receive the first set and order of fund dispersal that you raise on GradLift.com. We use our proprietary tuition management system (“Tuition Management System”) to distribute funds, which sometimes ranks the highest interest rate loan as the top-ranking loan but also takes other criteria into account as well. Some universities may require that current tuition be paid up to date before scholarships can be sent through to outside loan providers. Please note all contributions are paid out and distributed strictly according to our Tuition Management System, which means you will have no control over the disbursement of your contributed funds and you will not be able to choose where your contributed funds go first. For example, since tax regulations are different for tuition payments made on current tuition towards your current degree, GradLift may find that current tuition, when applicable, is more of a priority than a student loan with the highest interest, which may be more of a priority to you. Nonetheless, contributed funds will only be distributed according to the Tuition Management System. Please note, tax shields and GradLift does not provide tax advice.

GradLift will only distribute funds every time you raise $1,500, unless the amount owed is less than $1,500. For example, if you raise $2,500, GradLift will send the first $1,500 to the financial or academic institution ranked first on your account by GradLift, and then wait until you reach the last $1,000 to send the rest. If your account remains inactive for 6 months, we will disperse the remaining funds and require a new application if you return.

Transcript request fees are not included. Those fees are separately paid to your university, college, or the National Student Clearing House. Official transcripts can be mailed from the National Student Clearing House or sent via electronic PDF if necessary but not required. Here is GradLift’s office address:

GradLift, Inc.
Attn: Arbitration Provision
PO BOX 6920
Woodland Hills, CA 91367

GradLift will automatically add the appropriate transaction fees to your tuition goal total if provided and that will be displayed on your profile. Please contact GradLift with any questions about the total displayed on your profile.

GradLift will display your student debt total on your profile page. When possible, we will only display your tuition debt total. GradLift reserves the right to change this total when our review indicates it needs to be revised.

NOT ALLOWED ON GRADLIFT: You may not use the GradLift Services for any illegal or unauthorized purpose. You agree to comply with all laws, rules and regulations (for example, federal, state, local and provincial) applicable to your use of the GradLift Services and your Content (as defined in this Agreement) including but not limited to, copyright laws. To report a profile that you believe violates our guidelines below, please contact us at wecare@gradlift.com.

Content and information that is not allowed on GradLift.com:
• Any illegal or unauthorized Content
• False, inaccurate, or misleading statements or information
• Sexually explicit or suggestive material
• Content associated with hate groups or terrorism
• Content regarding underage consumption or abuse of alcohol, tobacco, narcotics, and paraphernalia
• Any Content including references to marijuana
• Offers for prizes not approved by GradLift or equity or return-on-investment or debt financing for repayment.
• Pyramid, Ponzi, and get rich quick schemes
• Gambling, drawings, or lotteries
• Offering monetary rewards, gift cards, or paybacks not approved by GradLift
• Any medical procedures conducted inside or outside of a medical institution
• Violent or hateful language relating to bigotry, racism, sexism, profanity, or ending the life of an animal
• Threatening, abusive, harassing, defamatory, libelous, tortious, obscene or profane.
• Content that invades or violates another person’s privacy.
• Content that violates any other person or entities intellectual property rights.

GradLift will always review questionable information on a case-by-case basis and will take appropriate action where necessary. Comments made by Contributors are not subject to membership cancellation but may be removed by GradLift at our sole discretion. Contributors who repeatedly post comments that infringe on any third-party’s intellectual property rights may be subject to membership cancellation in GradLift’s sole discretion.

Security of Data Transmission and Storage: Electronic communications using the GradLift Services may not always be encrypted. You acknowledge that there is a risk that data, including email, electronic communications, and personal data, may be accessed by unauthorized third parties when communicated between you and GradLift or between you and other parties. You also acknowledge that the internet and mobile phone networks may be subject to breaches of security and that the submission of Content or other information may not be secure. As between you and GradLift, any Content will be non-confidential and non-proprietary and GradLift will not be liable for any use or disclosure of Content.

You acknowledge and agree that your relationship with GradLift is not a confidential, fiduciary, or other type of special relationship, and your decision to submit any Content does not place GradLift in a position different from that held by members of the general public, including with regard to your Content. None of your Content will be subject to any obligation of confidence on the part of GradLift, and GradLift will not be liable for any use or disclosure of any Content you provide.

GradLift and its affiliates, and agents are permitted, but not obligated, to review or retain your Communications. GradLift may monitor your Communications to evaluate the quality of service you receive, your compliance with the Agreement, the security of the GradLift Services, or for other reasons. You agree that such monitoring activities will not entitle you to any cause of action or other right with respect to the manner in which GradLift or its affiliates or agents monitor your Communications and enforces or fails to enforce the terms of the Agreement. In no event will GradLift or any of its affiliates, agents or Associated Parties (as defined herein) be liable for any costs, damages, expenses, or any other liabilities incurred by you as a result of monitoring activities by GradLift or its affiliates, agents or Associated Parties (as defined herein).

Your Representations and Warranties: As a condition of using our service, you represent and warrant to us that:

You are at least eighteen (18) years of age or have guardian approval to use GradLift services;

You are currently residing in the United States and attending, planning to attend, or have attended an academic institution within the United States, you are a person who is not an organization or charity as defined by the Internal Revenue Service;

You understand that GradLift will only pay off the Tuition portion of a student loan and that in all circumstances other student expenses, such as housing or meal plans, are not eligible for disbursement of contributed funds and will not be paid off by GradLift using contributed funds or otherwise;

You understand contributed funds are always disbursed according to the Tuition Management System and you and contributors have no control over the disbursement of contributed funds.
You will comply with all relevant local, state, and federal laws applicable to you when you solicit funds on Gradlift.com, particularly with but not limited to the laws relating to your taxes due to the IRS and with marketing and solicitation for your project.

You understand that GradLift will always pay contributed funds directly to the financial and/or academic institution that the Tuition Management System identifies and that GradLift will never pay contributed funds directly to you or to the member you contributed the funds to.

You also understand your funds are collected, managed, and distributed by GradLift, and may only be used to fund your past, present, and future tuition payments at appropriate academic and financial institutions for the intended purpose described on our website.

You understand that GradLift reserves the right to hold your collected funds in secure bank accounts, money-market accounts, a trust account and in federally insured certificates of deposit.

GradLift will not provide any tax preparation advice whatsoever.

You own the Content submitted or uploaded by you on, to or through the GradLift Services, or are authorized to use or otherwise have the right to gran the rights and licenses set forth in this Agreement.

Submitting or uploading your Content on, to or through the GradLift Services does not violate, misappropriate or infringe on the rights of any third party, including, without limitation, privacy rights, publicity rights, copyrights, trademark, and/or other intellectual property rights.

You agree to pay for all royalties, fees, and any other monies owed by reason of Content you submit or upload on, to or through the GradLift Services.

Your access to or use of the GradLift Services and your activities accessing or using the GradLift Services are lawful in every jurisdiction where you access or use the GradLift Services;

You have carefully read and understood the sections of this Agreement titled (i) Disclaimer of Warranty, (ii) Limitation of Liability; Waiver and (iii) Indemnification and you expressly agree to the provisions contained in those sections; and

You have the legal right and capacity to enter into this Agreement in your Jurisdiction.

Violations of the Acceptable Use Policy: We encourage you to report violations of this Acceptable Use Policy to GradLift immediately. If you have a question about whether a type of transaction may violate the Acceptable Use Policy, you can email GradLift’s Compliance Department at: wecare@gradlift.com.

Additional Terms, Conditions, and Disclosures: This Agreement may only be modified by an authorized executive of GradLift, Inc. GradLift.com processes payment transactions through 3rd-party payment solutions such as PayPal. GradLift is not a chartered banking entity.
You will not hold GradLift liable or responsible for any funds or tax obligations on those funds paid to 3rd-parties. Contributors and Users agree not to involve GradLift in any litigation that occurs due to using the GradLift Services. GradLift, Inc. and all owners of GradLift, Inc. will not be held liable for any loss or damage due to your failure to comply with the terms of this agreement.

Disclaimer of Warranties: YOU UNDERSTAND AND AGREE YOUR USE OF THE GRADLIFT SERVICES IS ENTIRELY AT YOUR SOLE RISK. YOU FURTHER UNDERSTAND AND AGREE THAT THE GRADLIFT SERVICES ARE PROVIDED BY GRADLIFT ON AN “AS IS” BASIS WITHOUT WARRANTY OF ANY KIND, AND GRADLIFT EXPRESSLY DISCLAIMS ALL WARRANTIES AND CONDITIONS OF ANY KIND, WHETHER STATUTORY, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, TITLE, CUSTOM, TRADE, QUIET ENJOYMENT, SYSTEM INTEGRATION AND FREEDOM FROM COMPUTER VIRUS. GRADLIFT MAKES NO REPRESENTATIONS, WARRANTIES, OR ENDORSEMENTS OF ANY KIND WHATSOEVER, EXPRESS OR IMPLIED, (i) THAT THE GRADLIFT SERVICES, THE FUNCTIONS CONTAINED THEREIN, THE CONTENT CONTAINED THEREIN, OR THE SERVICES PERFORMED OR PROVIDED BY GRADLIFT WILL MEET YOUR REQUIREMENTS; (ii) THAT GRADLIFT WILL NOT INTERFERE WITH YOUR ENJOYMENT OF THE GRADLIFT SERVICES; (iii) THAT OPERATION OF THE GRADLIFT SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, OR THAT GRADLIFT WILL CORRECT DEFECTS; (iv) THAT THE RESULTS WHICH MAY BE OBTAINED FROM USING THE GRADLIFT SERVICES WILL BE ACCURATE OR RELIABLE; (v) THAT SECURITY ASSOCIATED WITH THE TRANSMISSION OF INFORMATION TO GRADLIFT OR THROUGH ANY GRADLIFT SERVICES WILL BE SECURE; OR (vi) THAT INFORMATION, INCLUDING ANY INSTRUCTIONS, PROVIDED BY GRADLIFT OR AVAILBLE THROUGH THE GRADLIFT SERVICES IS ACCURATE, COMPLETE, OR USEFUL. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM GRADLIFT OR FROM GRADLIFT SERVICES SHALL NOT CREATE ANY WARRANTY REGARDING THE GRADLIFT SERVICES NOT EXPRESSLY STATED IN THIS AGREEMENT.
YOU ACKNOWLEDGE THAT YOUR USE OF THE GRADLIFT SERVICES IS AT YOUR SOLE RISK. GRADLIFT AND ITS SHAREHOLDERS, OFFICERS, DIRECTORS, EMPLOYEES AND AGENTS (“ASSOCIATED PARTIES”) DO NOT WARRANT THAT YOUR USE OF THE GRADLIFT SERVICES IS LAWFUL IN ANY PARTICULAR JURISDICTION, AND GRADLIFT AND ITS ASSOCIATED PARTIES SPECIFICALLY DISCLAIM ANY SUCH WARRANTIES.
BY ACCESSING OR USING THE GRADLIFT SERVICES YOU REPRESENT AND WARRANT THAT YOUR ACTIVITIES ARE LAWFUL IN EVERY JURISDICTION WHERE YOU ACCESS OR USE THE SERVICE.
GRADLIFT AND ITS ASSOCIATED PARTIES DO NOT ENDORSE CONTENT AND SPECIFICALLY DISCLAIMS ANY RESPONSIBILITY OR LIABILITY TO ANY PERSON OR ENTITY FOR ANY LOSS, DAMAGE (WHETHER ACTUAL, CONSEQUENTIAL, PUNITIVE OR OTHERWISE), INJURY, CLAIM, LIABILITY OR OTHER CAUSE OF ANY KIND OR CHARACTER BASED UPON OR RESULTING FROM OR RELATED TO ANY CONTENT.
Limitation of Liability; Waiver: TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, YOU EXPRESSLY UNDERSTAND AND AGREE THAT GRADLIFT AND ITS ASSOCIATED PARTIES AND ITS ASSOCIATED SERVICE PROVIDERS SHALL NOT BE LIABLE FOR ANY LOSS, DAMAGE, OR INJURY OR FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO DAMAGES, LIABILITIES OR LOSSES FOR LOSS OF EARNING CAPACITY, PROFITS, GOODS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF SUCH DAMAGES ARE FORESEEABLE, GRADLIFT HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, OR GRADLIFT SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGES AND WHETHER THE DAMAGES RESULT FROM CONTRACT, NEGLIGENCE, STRICT LIABILITY, OR TORT, INCLUDING WITHOUT LIMITATION WHETHER CAUSED IN WHOLE OR IN PART BY NEGLIGENCE, ACTS OF GOD, TELECOMMUNICATINOS FAILURE, OR THEFT OR DESTRUCTION OF GRADLIFT SERVICES)(COLLECTIVELY “LOSSES”), RESULTING FROM OR RELATED TO YOUR USE OF THE GRADLIFT SERVICES OR THE LOAN RANKING SYSTEM, INCLUDING BUT NOT LIMITED TO LOSSES RESULTING FROM (i) THE USE OR THE INABILITY TO USE THE GRADLIFT SERVICES, (ii) THE CONTENT ON OR IN THE GRADLIFT WEBSITE OR ANY GRADLIFT SERVICES, (iii) ANY ACTION TAKEN IN CONNECTION WITH ANY INVESTIGATION BY GRADLIFT OR ITS ASSOCIATED PARTIES OR LAW ENFORCEMENT AUTHORITES REGARDING YOUR OR ANY OTHER THIRD PARTY’S USE OF THE GRADLIFT SERVICES, (iv) ANY ACTION TAKEN IN CONNECTION WITH COPYRIGHT OR OTHER INTELLECTUAL PROPERTY OWNERS, (iv) ANY ERRORS OR OMISSIONS IN THE GRADLIFT SERVICES, (v) ANY ERRORS OR OMISSIONS IN THE OPERATION OF GRADLIFT SERVICES, (vi) ANY DAMAGE TO ANY USER’S COMPUTER, MOBILE DEVICE, OR OTHER EQUIPMENT OR TECHNOLOGY INCLUDING BUT NOT LIMITED TO DAMAGE FROM ANY SECURITY BREACH OR FROM ANY VIRUS, BUGS, TAMPERING, FRAUD, ERROR, OMISSION, INTERRUPTION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER LINE OR NETWORK FAILURE OR ANY OTHER TECHNICAL OR OTHER MALFUNCTION, OR (vii) ANY OTHER MATTER RELATING TO THE GRADLIFT SERVICES AND/OR THE INSTALLATION OR MAINTENANCE THEREOF, FAILURE OF ELECTRONIC OR MECHANICAL EQUIPMENT, ERRORS, CONFIGURATION OR INCOMPATIBILTY PROBLEMS, PROBLEMS OR DELAYS WITH INTERMEDIATE COMPUTER OR COMMUNCIATION NETWORKS. YOU FURTHER EXPRESSLY UNDERSTAND AND AGREE THAT GRADLIFT AND ITS ASSOCIATED PARTIES WILL NOT BE LIABLE FOR ANY LOSSES YOU EXPERIENCE DUE TO CAUSES BEYOND GRADLIFT’S CONTROL.
TO THE EXTENT THAT APPLICABLE LAW RESTRICTS THIS RELEASE OF LIABILITY, YOU AGREE THAT WE ARE ONLY LIABLE TO YOU FOR THE ABSOLUTE MINIMUM AMOUNT OF DAMAGES THAT THE LAW PROVIDES FOR, IF SUCH A MINIMUM EXISTS.
SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES. AS A RESULT, THE ABOVE LIMITATIONS OR EXCLUSIONS MAY NOT APPLY TO YOU. IF THE ABOVE LIMITATIONS OR EXCLUSION DO NOT APPLY TO YOU, IN NO EVENT WILL GRADLIFT OR ITS ASSOCIATED PARTIES TOTAL LIABILITY TO YOUR FOR ALL DAMAGES, LOSSES, OR CAUSES OF ACTION EXCEED ONE HUNDRED UNITED STATES DOLLARS ($100).
YOU AGREE THAT IN THE EVENT YOU INCUR ANY DAMAGES, LOSSES OR INJURIES THAT ARISE OUT OF GRADLIFT’S ACTS OR OMISSIONS, THE DAMAGES, IF ANY, CAUSED TO YOU ARE NOT IRREPARABLE OR SUFFICIENT TO ENTITLE YOU TO AN INJUNCTION PREVENTION ANY EXPLOITATION OF ANY WEB-SITE, SERVICE, PROPERTY, PRODUCT, OR OTHER CONTENT OWNED OR CONTROLLED BY GRADLIFT AND ITS ASSOCIATED PARTIES.
YOU AGREE THAT WE ARE NOT RESPONSIBLE IN ANY WAY FOR OFFERS MADE BY THIRD PARTIES THROUGH OUR WEBSITE. THIS INCLUDES ANY FAILURE OF ANY GOODS OR SERVICES TO MEET YOUR EXPECTATIONS. WE ARE NOT RESPONSIBLE FOR ANY THIRD PARTY OFFERS THAT MAY TURN OUT TO BE FRAUDULENT, IRRESPONSIBLE, OR OTHERWISE ADVERTISED IN BAD FAITH. WE ARE NOT RESPONSIBLE FOR ANY FAILURES ON THE PART OF OUR THIRD PARTY PAYMENT PROCESSORS. WE ARE NOT LIABLE FOR ANY FAILURE OF THE GOODS OR SERVICES OF OUR COMPANY OR A THIRD PARTY, INCLUDING ANY FAILURES OR DISRUPTIONS, UNTIMELY DELIVERY, SCHEDULED OR UNSCHEDULED, INTENTIONAL OR UNINTENTIONAL, ON OUR WEBSITE WHICH PREVENT ACCESS TO OUR WEBSITE TEMPORARILY OR PERMANENTLY. YOU FOREVER RELEASE GRADLIFT AND ITS ASSOCIATED PARTIES FROM ANY CLAIMS AND DAMAGES, KNOWN AND UNKNOWN, ARISING OUT OF OR IN ANY WAY CONNECTED WITH ANY CLAIM YOU HAVE AGAINST ANY SUCH THIRD PARTIES.
THE PROVISION OF OUR SERVICE TO YOU IS CONTINGENT ON YOUR AGREEMENT WITH THIS AND ALL OTHER SECTIONS OF THIS AGREEMENT. NOTHING IN THE PROVISIONS OF THIS “REPRESENTATIONS & WARRANTIES” SECTION SHALL BE CONSTRUED TO LIMIT THE GENERALITY OF ANY LANGUAGE IN THIS SECTION OR THE DISCLAIMER OF WARRATY SECTION OF THIS AGREEMENT.
FOR JURISDICTIONS THAT DO NOT ALLOW US TO LIMIT OUR LIABILITY: NOTWITHSTANDING ANY PROVISION OF THESE TERMS, IF YOUR JURISDICTION HAS LAWS SPECIFIC TO WAIVER OR LIABILITY THAT CONFLICT WITH THE ABOVE LIMITATIONS ON LIABILITY AND WAIVERS THEN OUR LIABILITY TO YOU SHALL BE LIMITED TO THE SMALLEST POSSIBLE AMOUNT PERMITTED BY LAW.
BY USING THE GRADLIFT SERVICES AND AGREEING TO THIS AGREEMENT, YOU UNDERSTAND THAT YOU MAY BE WAIVING RIGHTS WITH RESPECT TO CLAIMS THAT ARE AT THIS TIME UNKOWN OR UNSUSPECTED, AND IN ACCORDANCE WITH SUCH WAIVER, YOU ACKNOWLEDGE THAT YOU HAVE READ AND UNDERSTOOD, AND HEREBY EXPRESSLY WAIVE THE BENEFITS OF SECTION 1542 OF THE CIVIL CODE OF CALIFORNIA, AND ANY SIMILAR LAW OF ANY STATE OR TERRITORY, WHICH PROVIDES AS FOLLOWS: “A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR.”
GradLift Service: GradLift is a service that enables Users to raise money for the specific purpose of supporting their past, present, and future tuition costs. Upon becoming a User through the Registration process, or a Contributor through either the contribution process or comment process, you agree that GradLift may, in our sole discretion, modify the terms of this Agreement by updating the modified terms to the GradLift.com website. Upon modification, GradLift will update the date indicated after the phrase “Last Updated” at the top of this Agreement, which shall be the effective date of the changes. This Agreement, as well as any modifications to this Agreement, can be found on GradLift.com by ____(Insert Locations)_______. Except for changes made for legal or administrative reasons, we will provide reasonable advance notice before any changes to this Agreement become effective. You agree that we may notify you of the changes to this Agreement by posting them to GradLift.com, and your use of the GradLift Services after the changes to this Agreement become effective constitutes your agreement to the changes. Please access and review this Agreement regularly. If you find the Agreement unacceptable to you at any time, please discontinue your use of the GradLift Services. Your continued use of the GradLift Services after registering or after the effective date of any changes to this Agreement will constitute your agreement to and acceptance of this Agreement and any changes to this Agreement.

By using the GradLift.com service you agree to the following:
You will comply with all local, state/provincial, regional & national laws in your area of residence, including copyright laws, and you will not use the GradLift services for any illegal or unauthorized purpose;
You are to alert the GradLift.com service staff about any unauthorized use of your User or Contributor accounts;
GradLift.com may use your anonymous aggregate data to enable GradLift to offer a better service in the future;
You will not create accounts or register profiles with the GradLift Services through unauthorized means, including but not limited to, by using an automated device, script, bot, spider, crawler, or scraper;
You are responsible for any activity that occurs through your account. You represent that all information you provide or provided to GradLift upon registration and at all other times will be true, accurate, current, and complete and you agree to update your information as necessary to maintain its truth and accuracy;
You are solely responsible for your conduct and any Content that you submit or send while using the GradLift Services;
You are responsible for all data charges you incur through use of the GradLift Services;
You are responsible for keeping your password secret and secure
You will not defame, stalk, bully, abuse, harass, threaten, or intimidate people or entities using the GradLift Services;
You will not change, modify, adapt or alter the GradLift Services or change, modify, or alter another website so as to falsely imply that it is associated with GradLift or the GradLift Services;
You will not interfere or disrupt the GradLift Services or servers or networks connected to the GradLift Services, including by transmitting any worms, viruses, spyware, malware or any other code of a destructive or disruptive nature. You many not inject content or code or otherwise alter or interfere with the way the GradLift website is rendered or displayed in a user’s browser or device;
You will not attempt to restrict another user from using or enjoying the GradLift Services and you will not encourage or facilitate any violations of this Agreement or any other agreements or terms of GradLift;
You will not try to damage or get unauthorized access to any system, data, password, or other information, whether it belongs to GradLift or another party;
You will not take any action that imposes an unreasonable, as determined by GradLift in our sole discretion, load on our infrastructure, or on our third-party providers;
You will not use any kind of software, device, bot, or otherwise, whether manual or automated, to crawl or spider any part of the GradLift Services;
You will not take apart or reverse engineer any aspect of the GradLift Services in an effort to access GradLift’s source code, underlying ideas, or algorithms, including the Loan Ranking System;
If you violate this Agreement, GradLift, in its sole discretion, may terminate your GradLift membership or account;
You understand that GradLift cannot and will not be responsible for the Content submitted or displayed through the GradLift Services and you use the GradLift Services at your own risk; and
If you violate the letter or spirit of this Agreement, or otherwise create risk or possible legal exposure for GradLift, we can stop providing all or part of the GradLift Services to you.
GradLift Services Upgrades. You acknowledge we may from time to time issue upgraded versions of the GradLift Services, and we may automatically electronically upgrade the version of the GradLift Services you use. From time to time, without prior notice to you, we may change, expand, or improve the GradLift Services. We may also, at any time, discontinue part or all of the GradLift Services or selectively disable certain aspects of or access to portions of the GradLift Services. GradLift will not be liable to you for any modification, suspension, or discontinuation of any GradLift Services, any part of the GradLift Services, or the loss of any Content. Any modification or elimination of the GradLift Services will be done in our sole discretion and without any obligation or liability to you.
Indemnification: You acknowledge and agree that you are personally responsible for your conduct while using the GradLift services and you expressly agree to indemnify, defend and hold harmless GradLift, Inc., and GradLift’s Associated Parties from and against any and all claims, demands, disbursements, losses, liabilities, costs, Losses or expenses, including attorneys’ fees and court costs, made by any person or entity arising out of or in any way connected to: (i) your use of the GradLift Services or someone’s use of the GradLift Services on your behalf;(ii) the use of the GradLift Services by anyone using your account or device; (iii) your violation of this Agreement or any representation or warranty contained in this Agreement or your violation of any state or federal securities laws or regulations, (iv) your violation of any other person’s rights, including but not limited to infringement of any copyright or other intellectual property right or your violation of any proprietary or privacy right; (v) your Content; and (vi) any misrepresentation made by you. Under no circumstances, including but not limited to negligent or intentional acts, will GradLift or its affiliates or Associated Parties be liable for any damages, liabilities or Losses of any kind or nature that result from yours or anyone else’s use of, or inability to use, the GradLift Services.
You further agree to cooperate as fully as required by GradLift in the defense of any claim related to your use of the GradLift Services, another’s use of the GradLift Services on your behalf, or the use of the GradLift services by anyone using your device. GradLift reserves the right to assume the exclusive defense and control of any matter subject to indemnification by you, and you will not in any case settle any claim related to your use of the GradLift Services, another’s use of the GradLift Services on your behalf, or the use of the GradLift services by anyone using your device without the prior written consent of GradLift. .
In the event of a claim such as one described in this Section, we may elect to settle with the party/parties making the claim, and you shall be liable for the damages as though we had proceeded with a trial.
Your obligations under this Section shall survive termination of this Agreement.
GradLift Profile Accounts: GradLift reserves the right to delete User or Contributor accounts at our discretion. You are fully responsible for any Content you post as a User or a Contributor. You agree by becoming a User or Contributor that you will not break any of the guidelines within the terms and conditions outlined above. GradLift.com has the right to, though will not be obligated to, in GradLift’s sole discretion, to remove any Content or block any individual or entity for any reason. Please note GradLift does not provide refunds of any kind whatsoever. GradLift does not and cannot review all the material posted to the GradLift system. By visiting GradLift.com you are responsible for protecting yourself from Content that is offensive or harmful that may have been posted on the website by another user. By visiting GradLift.com you are responsible for protecting your equipment (computer, etc.) from any harm resulting from a visit to the website.
Termination: This Agreement is valid until terminated by you or GradLift. GradLift may terminate this Agreement at any time or for any reason. Your rights under this Agreement will terminate immediately if you breach any term of this Agreement. In the event your account with GradLift is terminated or this Agreement is terminated you agree to immediately discontinue all use of the GradLift Services,
If this Agreement or your account is terminated, you will lose any Content you have submitted or uploaded to the GradLift Services and you will no longer be able to access your Content through your account. However any Content, or other materials and data, you have shared with third parties through your account may persist with those third parties.
If you desire to use the GradLift Services after this Agreement or your account has been terminated, you will be required to submit a new application and pay a new application fee.
Arbitration: Except if you opt out for disputes relating to (i) yours or GradLift’s intellectual property (such as trademarks, trade dress, domain names, trade secrets, copyrights, and patents) or violations of Provisions five (5) and twelve (12) of the GradLift Service section of this Agreement (“Excluded Disputes”), you agree that all disputes between you and GradLift (including disputes that involve third parties) relating to or arising out of your relationship with GradLift, including but not limited to disputes related to this Agreement, your use of the GradLift Services, and/or rights of privacy and/or publicity, will be resolved by binding, individual arbitration under the American Arbitration Associations rules for arbitration of consumer-related disputes and you and GradLift hereby expressly waive trial by jury. As an alternative, you may bring your claim in your local “small claims” court, if permitted by that small claims court’s rules. You may bring claims on your own behalf. Neither you nor GradLift will participate in a class action or class-wide arbitration for any claims covered by this Agreement. You also agree not to participate in claims brought in a private attorney general or representative capacity, or consolidated claims involving another person’s account, if GradLift is a party to the proceeding.
The Federal Arbitration Act will govern this dispute resolution provision. In the event the American Arbitration Association is unwilling or unable to set a hearing date within one hundred and sixty (160) days of filing the case, then either GradLift or you can elect to have the arbitration administered instead by the Judicial Arbitration and Mediation Services. Judgment on the award rendered by the arbitrator may be entered in any court having competent jurisdiction. Any provision of applicable law notwithstanding, the arbitrator will not have authority to award damages, remedies or awards that conflict with this Agreement.
You may opt out of this agreement to arbitrate. If you do so, neither you nor GradLift can require the other to participate in an arbitration proceeding. To opt out, you must notify GradLift in writing within thirty (30) days of the date that you first became subject to this arbitration provision. You must use this address to opt out:
GradLift, Inc.
Attn: Arbitration Provision
21550 Burbank Blvd., Unit 111
Woodland Hills, CA 91367
You must include your name, residential address, email address you use for your account, school name, telephone number and a clear statement that you want to opt out of this arbitration agreement.
GradLift reserves the right to change this dispute resolution provision, but any changes will not apply to disputes arising before the effective date of the amendment.
If the prohibition against class actions and other claims brought on behalf of third parties contained above is found to be unenforceable, then the remainder of this Arbitration Section shall still remain in full force and effect. This arbitration agreement will survive the termination of your relationship with GradLift.
Choice of Law: This Agreement, all future agreements you enter into with GradLift, unless otherwise indicated on such other agreement and our provision of services to you shall be governed by the laws of the State of California without regard to any principles of conflicts of law AND WILL SPECIFICALLY NOTE BE GOVERNED BY THE UNITED NATIONS CONVENTIONS ON CONTRACTS FOR THE INTERNATIONAL SALE OF GOODS, IF OTHERWISE APPLICABLE. This is the case regardless of whether you reside or transact business with GradLift or any of its affiliates or agents in the State of California or elsewhere.
Forum of Dispute: For any action at law or in equity relating to the arbitration provision of this Agreement, or if you opt out of the agreement to arbitrate, you agree to resolve any dispute you have with GradLift exclusively in a state or federal court located in Los Angeles, California, and to submit to the personal jurisdiction of the courts located in Los Angeles County for the purpose of litigating all such disputes. Please note your use of the GradLift Services may also be subject to other local, state, national, or international laws.
If you fail to bring a dispute in compliance with these “Forum of Dispute” provisions, we may make a motion to dismiss your claim, which you must consent to, and you will be responsible for all of our reasonable attorneys’ fees, costs, and disbursements involved in making such a motion.
Additionally, the successful party in any dispute will be entitled to receive from the unsuccessful party all of its reasonable attorneys’ fees, cost, and disbursements.
Time Limitation on Claims: You agree that any claim you may have arising out of or related to your relationship with GradLift must be filed within one year after such claim arose; otherwise, your claim is permanently barred.
Communications: Electronic communications from GradLift.com will be sent to Users to inform them of a variety of events that inform them about the state of their membership. You agree to allow GradLift.com to send these communications to your email address. You also agree that GradLift.com is not liable for any user-generated content that is sent to you as a part of these communications. You agree that you are liable for any communications you send to potential Contributors promoting your profile. These communications include, but are not limited to emails sent through GradLift.com and communications sent outside of the GradLift.com platform.
Trademarks and Copyrights: The GradLift Services are owned by GradLift and contains content, including images, owned or licensed by GradLift (“GradLift Content”). GradLift Content is protected by copyright, trademark, patent, trade secret and other laws, and, as between you and GradLift, GradLift owns and retains all rights in the GradLift Content and the GradLift Services. Nothing contained in the GradLift Services should be construed as granting, by implication, estoppel, or otherwise, any license or right to use any trademark displayed in the GradLift Services without the written permission of GradLift or such third party that may own the trademarks displayed in the GradLift Services. You may not remove, alter or conceal any copyright, trademark, service mark or other proprietary rights notices incorporated in or accompanying the GradLift Content and you may not reproduce, modify, adapt, prepare derivative works based on, perform, display, publish, distribute, transmit, broadcast, sell, license, or otherwise exploit the GradLift Content. Except as provided herein, your use of the trademarks displayed in the GradLift Services or any of the GradLift Content is strictly prohibited.
Except for images uploaded by you, images displayed through the GradLift Services are either the property of, or used with permission by, GradLift or its affiliates or agents. You are prohibited from using or authorizing the use of these images unless specifically permitted under the Agreement. Any unauthorized use of the images may violate copyright laws, trademark laws, the laws of privacy and publicity, or other regulations and statutes.
The GradLift name and logo are trademarks of GradLift, and may not be copied, imitated or used, in whole or in part, without the prior written consent of GradLift. In addition, all page headers, custom graphics, button icons and scripts are service marks, trademarks and/or trade dress of GradLift and may not be copied, imitated or used, in whole or in part, without GradLift’s prior written consent.
GradLift respects other people’s rights and expects you to do the same. You are expressly prohibited from submitting or uploading any Content that does or would infringe on any intellectual property rights if submitted or uploaded using the GradLift Services.
Copyright Infringement: GradLift.com will abide by all legal requirements to the Digital Millennium Copyright Act. We respond to notices of alleged infringement if they comply with the law. At our sole discretion, any Content posted on your profile may be removed if it is in conflict with any potential copyright infringement.
Severability: In the event that a provision of this Agreement is found to be unlawful or is otherwise unenforceable for any reason, then the arbitrator, or a court of competent jurisdiction should you opt out of the arbitration provision, shall have the power to modify the invalid or unenforceable provision to reflect as nearly as possible the original intentions of the parties. If the invalid or unenforceable provision cannot so be modified, then that provision will be severed from this Agreement and the remaining provisions of this Agreement will not be affected thereby and each will remain in full force and effect, to the fullest extent permitted by law. In the event two or more provisions are deemed to conflict with each other’s operation, GradLift, Inc. shall have the sole right to elect which provision remains in force.
Amendments: GradLift may amend this Agreement. When we amend this Agreement, we will update this page and indicate the date that it was last modified. You may refuse to agree to the amendments, but if you do, you must immediately cease using our website and our service. You must visit this page each time you come to our website and read and agree to it if the date it was last modified is more recent than the last time you agreed to the Agreement.
Miscellaneous: If either party waives any provision of this Agreement, that waiver is not deemed to be a continuing waiver of the same or any other provision. Neither the course of conduct between the parties nor trade practice will modify this Agreement. This Agreement constitutes the entire agreement between you and GradLift. Regarding the GradLift Services, and governs your use of the GradLift Services, superseding any prior agreements between you and GradLift regarding the GradLift Services. You may not assign this Agreement or any of its rights and you may not delegate any obligations under this Agreement, in whole or in part, whether voluntarily or by operation of law, without the prior written consent of GradLift. Any purported assignment or delegation by you without prior written consent will be null and void. This Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns. GradLift reserves any rights not expressly granted in this Agreement. Each associated service provider of GradLift is an intended third party beneficiary of this Agreement and is entitled to rely upon all rights, representations, warranties, and covenants made in this Agreement. Except for GradLift’s associated service providers, this Agreement does not confer any other third-party beneficiary rights. This Agreement was written in English (US). To the extent any translated version of this Agreement conflicts with the English version, the English version controls. Please note, section headings are inserted for convenience only and shall not be used in any way to construe the terms of this Agreement.

    </span>
</p>
