#sf-sidebar.sf-vertical-nav .sf-has-child-menu .sf-sm-indicator i:after {
    content: '\e610';
    -webkit-transition: all 0.3s cubic-bezier(0.215, 0.061, 0.355, 1);
    -moz-transition: all 0.3s cubic-bezier(0.215, 0.061, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.215, 0.061, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.215, 0.061, 0.355, 1);
    -webkit-backface-visibility: hidden;
    display: inline-block;
}

.sf-vertical-nav .sf-submenu-visible > a .sf-sm-indicator i:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#sf-mob-navbar .sf-navicon-button:after {
    /*width: 30px;*/
}

.sf-pos-right .sf-vertical-nav .sf-has-child-menu > a:before {
    display: none;
}

#sf-sidebar.sf-vertical-nav .sf-menu .sf-sm-indicator {
    background: rgba(255, 255, 255, 0.085);
}

.sf-pos-right #sf-sidebar.sf-vertical-nav .sf-menu li a {
    padding-left: 10px !important;
}

.sf-pos-right #sf-sidebar.sf-vertical-nav .sf-sm-indicator {
    left: auto;
    right: 0;
}

#sf-sidebar.sf-compact .sf-va-middle {
    display: block;
    height: auto;
    margin-top: 0px;
}

#sf-sidebar.sf-compact .sf-nav,
.sf-mobile #sf-sidebar .sf-nav,
#sf-sidebar.sf-compact .sf-logo,
.sf-mobile #sf-sidebar .sf-logo,
#sf-sidebar.sf-compact-footer .sf-social,
.sf-mobile #sf-sidebar .sf-social {
    position: static;
    display: block;
}

#sf-sidebar.sf-compact .sf-logo {
    margin-top: 30px;
    margin-bottom: 30px;
}

.sf-mobile #sf-sidebar.sf-compact-header .sf-logo img {
    max-height: 75px;
}

#sf-sidebar.sf-compact .sf-nav {
    min-height: 0px;
    height: auto;
    max-height: none;
    margin-top: 0px;
}

#sf-sidebar.sf-compact-footer .sf-social {
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

#sf-sidebar.sf-compact .sf-sidebar-bg {
    min-height: 150%;
}

#sf-sidebar.sf-compact input[type=search] {
    font-size: 16px;
}

/*}*/
#sf-sidebar .sf-sidebar-bg, #sf-sidebar .sf-social {
    background-color: #212121 !important;
}

#sf-sidebar, .sf-sidebar-bg, #sf-sidebar .sf-nav, #sf-sidebar .sf-logo, #sf-sidebar .sf-social {
    width: 275px;
}

#sf-sidebar .sf-menu li a, #sf-sidebar .widget-area,
.sf-search-form input {
    padding-left: 28px !important;
}

#sf-sidebar.sf-compact .sf-social li {
    text-align: left;
}

#sf-sidebar.sf-compact .sf-social:before {
    right: auto;
    left: auto;
    left: 10%;
}

#sf-sidebar:after {
    display: none !important;
}

#sf-sidebar .search-form {
    display: none !important;
}

body.sf-body-pushed > * {
    -webkit-transform: translate(275px, 0);
    -moz-transform: translate(275px, 0);
    -ms-transform: translate(275px, 0);
    -o-transform: translate(275px, 0);
    transform: translate(275px, 0);
    -webkit-transform: translate3d(275px, 0, 0);
    -moz-transform: translate3d(275px, 0, 0);
    -ms-transform: translate3d(275px, 0, 0);
    -o-transform: translate3d(275px, 0, 0);
    transform: translate3d(275px, 0, 0);
}

body.sf-pos-right.sf-body-pushed > * {
    -webkit-transform: translate(-275px, 0);
    -moz-transform: translate(-275px, 0);
    -ms-transform: translate(-275px, 0);
    -o-transform: translate(-275px, 0);
    transform: translate(-275px, 0);
    -webkit-transform: translate3d(-275px, 0, 0);
    -moz-transform: translate3d(-275px, 0, 0);
    -ms-transform: translate3d(-275px, 0, 0);
    -o-transform: translate3d(-275px, 0, 0);
    transform: translate3d(-275px, 0, 0);
}

#sf-sidebar,
.sf-mobile .sf-sidebar-slide.sf-pos-right.sf-body-pushed #sf-mob-navbar {
    -webkit-transform: translate(-275px, 0);
    -moz-transform: translate(-275px, 0);
    -ms-transform: translate(-275px, 0);
    -o-transform: translate(-275px, 0);
    transform: translate(-275px, 0);
    -webkit-transform: translate3d(-275px, 0, 0);
    -moz-transform: translate3d(-275px, 0, 0);
    -ms-transform: translate3d(-275px, 0, 0);
    -o-transform: translate3d(-275px, 0, 0);
    transform: translate3d(-275px, 0, 0);
}

.sf-pos-right #sf-sidebar, .sf-mobile .sf-sidebar-slide.sf-body-pushed #sf-mob-navbar {
    -webkit-transform: translate(275px, 0);
    -moz-transform: translate(275px, 0);
    -ms-transform: translate(275px, 0);
    -o-transform: translate(275px, 0);
    transform: translate(275px, 0);
    -webkit-transform: translate3d(275px, 0, 0);
    -moz-transform: translate3d(275px, 0, 0);
    -ms-transform: translate3d(275px, 0, 0);
    -o-transform: translate3d(275px, 0, 0);
    transform: translate3d(275px, 0, 0);
}

.sf-pos-left #sf-sidebar .sf-view-level-1 {
    left: 275px;
    width: 250px;
    -webkit-transform: translate(-250px, 0);
    -moz-transform: translate(-250px, 0);
    -ms-transform: translate(-250px, 0);
    -o-transform: translate(-250px, 0);
    transform: translate(-250px, 0);
    -webkit-transform: translate3d(-250px, 0, 0);
    -moz-transform: translate3d(-250px, 0, 0);
    -ms-transform: translate3d(-250px, 0, 0);
    -o-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px, 0, 0);
}

.sf-pos-right #sf-sidebar .sf-view-level-1 {
    left: auto;
    right: 275px;
    width: 250px;
    -webkit-transform: translate(250px, 0);
    -moz-transform: translate(250px, 0);
    -ms-transform: translate(250px, 0);
    -o-transform: translate(250px, 0);
    transform: translate(250px, 0);
    -webkit-transform: translate3d(250px, 0, 0);
    -moz-transform: translate3d(250px, 0, 0);
    -ms-transform: translate3d(250px, 0, 0);
    -o-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
}

.sf-pos-left #sf-sidebar .sf-view-level-2 {
    left: 525px;
    width: 250px;
    -webkit-transform: translate(-775px, 0);
    -moz-transform: translate(-775px, 0);
    -ms-transform: translate(-775px, 0);
    -o-transform: translate(-775px, 0);
    transform: translate(-775px, 0);
    -webkit-transform: translate3d(-775px, 0, 0);
    -moz-transform: translate3d(-775px, 0, 0);
    -ms-transform: translate3d(-775px, 0, 0);
    -o-transform: translate3d(-775px, 0, 0);
    transform: translate3d(-775px, 0, 0);
}

.sf-pos-right #sf-sidebar .sf-view-level-2 {
    left: auto;
    right: 525px;
    width: 250px;
    -webkit-transform: translate(775px, 0);
    -moz-transform: translate(775px, 0);
    -ms-transform: translate(775px, 0);
    -o-transform: translate(775px, 0);
    transform: translate(775px, 0);
    -webkit-transform: translate3d(775px, 0, 0);
    -moz-transform: translate3d(775px, 0, 0);
    -ms-transform: translate3d(775px, 0, 0);
    -o-transform: translate3d(775px, 0, 0);
    transform: translate3d(775px, 0, 0);
}

.sf-pos-left #sf-sidebar .sf-view-level-3 {
    left: 775px;
    width: 200px;
    -webkit-transform: translate(-775px, 0);
    -moz-transform: translate(-775px, 0);
    -ms-transform: translate(-775px, 0);
    -o-transform: translate(-775px, 0);
    transform: translate(-775px, 0);
    -webkit-transform: translate3d(-775px, 0, 0);
    -moz-transform: translate3d(-775px, 0, 0);
    -ms-transform: translate3d(-775px, 0, 0);
    -o-transform: translate3d(-775px, 0, 0);
    transform: translate3d(-775px, 0, 0);
}

.sf-pos-right #sf-sidebar .sf-view-level-3 {
    left: auto;
    right: 775px;
    width: 200px;
    -webkit-transform: translate(775px, 0);
    -moz-transform: translate(775px, 0);
    -ms-transform: translate(775px, 0);
    -o-transform: translate(775px, 0);
    transform: translate(775px, 0);
    -webkit-transform: translate3d(775px, 0, 0);
    -moz-transform: translate3d(775px, 0, 0);
    -ms-transform: translate3d(775px, 0, 0);
    -o-transform: translate3d(775px, 0, 0);
    transform: translate3d(775px, 0, 0);
}

.sf-view-pushed-1 #sf-sidebar .sf-view-level-2 {
    -webkit-transform: translate(-250px, 0);
    -moz-transform: translate(-250px, 0);
    -ms-transform: translate(-250px, 0);
    -o-transform: translate(-250px, 0);
    transform: translate(-250px, 0);
    -webkit-transform: translate3d(-250px, 0, 0);
    -moz-transform: translate3d(-250px, 0, 0);
    -ms-transform: translate3d(-250px, 0, 0);
    -o-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px, 0, 0);
}

.sf-pos-right.sf-view-pushed-1 #sf-sidebar .sf-view-level-2 {
    -webkit-transform: translate(250px, 0);
    -moz-transform: translate(250px, 0);
    -ms-transform: translate(250px, 0);
    -o-transform: translate(250px, 0);
    transform: translate(250px, 0);
    -webkit-transform: translate3d(250px, 0, 0);
    -moz-transform: translate3d(250px, 0, 0);
    -ms-transform: translate3d(250px, 0, 0);
    -o-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
}

.sf-view-pushed-2 #sf-sidebar .sf-view-level-3 {
    -webkit-transform: translate(-200px, 0);
    -moz-transform: translate(-200px, 0);
    -ms-transform: translate(-200px, 0);
    -o-transform: translate(-200px, 0);
    transform: translate(-200px, 0);
    -webkit-transform: translate3d(-200px, 0, 0);
    -moz-transform: translate3d(-200px, 0, 0);
    -ms-transform: translate3d(-200px, 0, 0);
    -o-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
}

.sf-pos-right.sf-view-pushed-2 #sf-sidebar .sf-view-level-3 {
    -webkit-transform: translate(200px, 0);
    -moz-transform: translate(200px, 0);
    -ms-transform: translate(200px, 0);
    -o-transform: translate(200px, 0);
    transform: translate(200px, 0);
    -webkit-transform: translate3d(200px, 0, 0);
    -moz-transform: translate3d(200px, 0, 0);
    -ms-transform: translate3d(200px, 0, 0);
    -o-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);
}

#sf-sidebar .sf-view-level-1, #sf-sidebar ul.sf-menu-level-1 {
    background: #453e5b;
}

#sf-sidebar .sf-view-level-2, #sf-sidebar ul.sf-menu-level-2 {
    background: #36939e;
}

#sf-sidebar .sf-view-level-3, #sf-sidebar ul.sf-menu-level-3 {
    background: #9e466b;
}

#sf-sidebar .sf-menu-level-0 li, #sf-sidebar .sf-menu-level-0 li a, .sf-title h1 {
    color: #aaaaaa;
}

#sf-sidebar .sf-menu li a, #sf-sidebar .sf-search-form {
    padding: 15px 0;
    text-transform: uppercase;
}

#sf-sidebar .sf-search-form span {
    top: 19px;
}

#sf-sidebar {
    font-family: inherit;
}

#sf-sidebar .sf-sm-indicator {
    line-height: 20px;
}

#sf-sidebar .sf-search-form input {
    font-size: 20px;
}

#sf-sidebar .sf-menu li a {
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    /*-webkit-text-stroke: 1px rgba(0,0,0,0.1);*/
    /*-moz-text-stroke: 1px rgba(238, 238, 238, 0.9);*/
    /*-ms-text-stroke: 1px rgba(0,0,0,0.1);*/
    /*text-stroke: 1px rgba(0,0,0,0.1);*/
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#sf-sidebar .sf-rollback a {
    font-family: inherit;
}

#sf-sidebar .sf-menu-level-0 li > a i, .sf-title h2 {
    color: #aaaaaa;
}

#sf-sidebar .sf-menu-level-1 li > a i {
    color: #aaaaaa;
}

#sf-sidebar .sf-menu-level-2 li > a i {
    color: #aaaaaa;
}

#sf-sidebar .sf-menu-level-3 li > a i {
    color: #aaaaaa;
}

#sf-sidebar .sf-view-level-1 li a,
#sf-sidebar .sf-menu-level-1 li a {
    color: #ffffff;
    border-color: #ffffff;
}

#sf-sidebar:after {
    background-color: #212121;
}

#sf-sidebar .sf-view-level-2 li a,
#sf-sidebar .sf-menu-level-2 li a {
    color: #ffffff;
    border-color: #ffffff;
}

#sf-sidebar .sf-view-level-3 li a,
#sf-sidebar .sf-menu-level-3 li a {
    color: #ffffff;
    border-color: #ffffff;
}

#sf-sidebar .sf-navicon-button {
    top: 18px;
}

.sf-mobile #sf-sidebar .sf-navicon-button {
    top: 0px;
}

.sf-body-pushed #sf-overlay, body[class*="sf-view-pushed"] #sf-overlay {
    opacity: 0.2;
}

.sf-body-pushed #sf-overlay:hover, body[class*="sf-view-pushed"] #sf-overlay:hover {
    cursor: url("https://gradlift.com/wp-content/plugins/superfly-menu/img/close.png") 16 16, pointer;
}

#sf-sidebar .sf-menu li:after {
    content: '';
    display: block;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.08);
    margin: 0 auto;
}

#sf-sidebar .sf-menu li:last-child:after {
    display: none;
}

#sf-sidebar .sf-navicon,
#sf-sidebar .sf-navicon:after,
#sf-sidebar .sf-navicon:before,
#sf-sidebar .sf-label-metro .sf-navicon-button,
.sf-mobile #sf-mob-navbar {
    background-color: #b31808;
}

#sf-sidebar .sf-label-square .sf-navicon-button,
#sf-sidebar .sf-label-rsquare .sf-navicon-button,
#sf-sidebar .sf-label-circle .sf-navicon-button {
    color: #b31808;
}

#sf-sidebar [class*="sf-icon-"] {
    color: #767676;
}

#sf-sidebar .sf-social li {
    border-color: #767676;
}

body #sf-sidebar .sf-social li:hover {
    background-color: #767676;
    color: #212121;
}

#sf-sidebar .sf-search-form {
    background-color: rgba(255, 255, 255, 0.05);
}

@font-face {
    font-family: 'sf-icomoon';
    src: url('https://gradlift.com/wp-content/plugins/superfly-menu/img/fonts/icomoon.eot?wehgh4');
    src: url('https://gradlift.com/wp-content/plugins/superfly-menu/img/fonts/icomoon.svg?wehgh4#icomoon') format('svg'),
    url('https://gradlift.com/wp-content/plugins/superfly-menu/img/fonts/icomoon.eot?#iefixwehgh4') format('embedded-opentype'),
    url('https://gradlift.com/wp-content/plugins/superfly-menu/img/fonts/icomoon.woff?wehgh4') format('woff'),
    url('https://gradlift.com/wp-content/plugins/superfly-menu/img/fonts/icomoon.ttf?wehgh4') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#sf-sidebar li:hover span[class*='fa-'] {
    opacity: 1 !important;
}