.modal {
    position: fixed;
    top: 16%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999999999;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
    a#logo {
        margin-top: 14px;
        position: relative;
        left: -40px;
    }
}

@media (max-width: 435px) {
a#logo {
    margin-top: 14px;
    position: relative;
    left: 0px;
    }

}
@media (min-width: 740px) {
.navbar-content-center{
    float: none!important;
    width: 100%;
    /* border: solid; */
    position: absolute;
    left: 20%;
}
.navbar-content-center li{
        text-align: center !important;
}
.faq{
    width: 15%;
}
.blog{
    width: 10%;
}
.search-box{
    width: 30%;
}
.login-me{
    width: 11%;
}
.logout-reg{
        width: 14%;
}
.nav-wraper{
    color: red;
}


}
.blog-title-bar{
        text-align: center;
    font-size: 4em;
    color: #3C545F;
}
.blog-section{
    background-color: #546E7A;
    color: white;
    box-shadow: 0px 5px 15.5px #ABAAAA;
    padding: 10px;
    margin-bottom: 54px;
}
.blog-title{
    text-align: left;
    font-size: large;
    background-color: #465156;
    text-decoration: none;
    color: white;
    margin-bottom: 3px;
    box-shadow: 0px 5px 15.5px #ABAAAA;
    padding: 10px;
}
.blog-section .blog-image-index{
    box-shadow: 0px 0px 10px black;
    transition: box-shadow 0.3s;
    margin: 0 auto;

}
.blog-section .blog-image-index:hover{
    box-shadow: 0px 5px 35px black;
}


.flat-btn{
    margin-bottom: 14px;
    border-radius: 0px;
    width: 100%;
    box-shadow: 0px 5px 15px #373737;
}
.card-flat{

    background-color: #546E7A;
    color: white;
    box-shadow: 0px 5px 15.5px #ABAAAA;
    margin-left: 5px;
    margin-right: 5px;
}
.card-flat h4{
    padding-top: 14px;
}
.card-flat p{
    padding-bottom: 14px;
    padding-left: 14px;
    padding-right: 14px;
}


.padding-zero{
    padding: 0px;
}

.background-color{
    background-color: #EFEFEF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a{
    color: #337ab7;
}
.video-text-h1{
    margin-bottom: 5px;
}
.video-text-fake-h3{
    color: white;
    margin-top: 5px;
    z-index: 2;
   font-size: large;
}


.search input#s::-webkit-input-placeholder::before {
    content: "Search students by Name, School, Field of Study, Degree Title, Email, or Keyword";
}

.search input#s:-ms-input-placeholder::before {
    content: "Search students by Name, School, Field of Study, Degree Title, Email, or Keyword";
}

.search input#s:-moz-placeholder::before {
    content: "Search students by Name, School, Field of Study, Degree Title, Email, or Keyword";
}

.search input#s::-moz-placeholder::before {
    content: "Search students by Name, School, Field of Study, Degree Title, Email, or Keyword";
}


.search-field-li input#s::-webkit-input-placeholder::before {
    content: "Search by student";
}

.search-field-li input#s:-ms-input-placeholder::before {
    content: "Search by student";
}

.search-field-li input#s:-moz-placeholder::before {
    content: "Search by student";
}

.search-field-li input#s::-moz-placeholder::before {
    content: "Search by student";
}

@media (min-width: 420px) and  (max-width: 740px){
    h1.front_page.video-text-h1{
        line-height: 25px;
        margin-top: 15px;
        font-size: 25px;
    }
    h1.front_page.video-text-fake-h3{
        font-size: 10px;
        color: white;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 15px;
    }

    .search input#s::-webkit-input-placeholder::before {
        content: "Search students by Name, School, Degree Title, or Keyword";
    }

    .search input#s:-ms-input-placeholder::before {
        content: "Search students by Name, School, Degree Title, or Keyword";
    }

    .search input#s:-moz-placeholder::before {
        content: "Search students by Name, School, Degree Title, or Keyword";
    }

    .search input#s::-moz-placeholder::before {
        content: "Search students by Name, School, Degree Title, or Keyword";
    }

    .search-field-li input#s::-webkit-input-placeholder::before {
        content: "Search students by Name, School, Degree Title, or Keyword";
    }

    .search-field-li input#s:-ms-input-placeholder::before {
        content: "Search students by Name, School, Degree Title, or Keyword";
    }

    .search-field-li input#s:-moz-placeholder::before {
        content: "Search students by Name, School, Degree Title, or Keyword";
    }

    .search-field-li input#s::-moz-placeholder::before {
        content: "Search students by Name, School, Degree Title, or Keyword";
    }

}

@media (max-width: 420px){
    h1.front_page.video-text-h1{
        line-height: 20px;
        margin-top: 15px;
    }
    h1.front_page.video-text-fake-h3{
        font-size: 10px;
        color: white;
        font-size: 10px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .search input#s::-webkit-input-placeholder::before {
        content: "Search students by Name, School, or Keyword";
    }

    .search input#s:-ms-input-placeholder::before {
        content: "Search students by Name, School, or Keyword";
    }

    .search input#s:-moz-placeholder::before {
        content: "Search students by Name, School, or Keyword";
    }

    .search input#s::-moz-placeholder::before {
        content: "Search students by Name, School, or Keyword";
    }

    .search-field-li input#s::-webkit-input-placeholder::before {
        content: "Search students by Name, School, or Keyword";
    }

    .search-field-li input#s:-ms-input-placeholder::before {
        content: "Search students by Name, School, or Keyword";
    }

    .search-field-li input#s:-moz-placeholder::before {
        content: "Search students by Name, School, or Keyword";
    }

    .search-field-li input#s::-moz-placeholder::before {
        content: "Search students by Name, School, or Keyword";
    }
}

.glyphicon {
    color: #3d474b;
}



.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: #55AF57;
}

.fancybox-thumb span {
    background: rgba(85, 175, 87, 0.58);

}

.hero_button:hover{
    text-decoration: none;
}

.krown-button:hover{
    text-decoration: none;
}

.widget ul a, .widget .tagcloud a{
    text-decoration: none;
}

.footer .widget a:hover, .footer .widget ul li.current-cat a:hover, .footer .widget ul li.current_page_item a:hover{
    color:#BB212B;
}


.hero_button:hover{
    text-decoration: none;
}

.krown-button:hover{
    text-decoration: none;
}

.widget ul a, .widget .tagcloud a{
    text-decoration: none;
}

.footer .widget a:hover, .footer .widget ul li.current-cat a:hover, .footer .widget ul li.current_page_item a:hover{
    color:#BB212B;
}

.bb-social-share__link i{
    border-radius: 5px;
}

.submitBtnSize{
    width: 20%;
    margin: auto;
}

/* Small devices (tablets, 768px and up) */
@media(max-width:767px){
    body.sticky-header #footer1{
        text-align: center;
    }
    .submitBtnSize{
        width: 100%;
    }
}

.um-profile-nav{
    height:40px;
    border-radius: 8px 8px 0px 0px;
}
.gradlift-loans{

}
.half{
    margin:0 auto;
    width: 80%;
}



.hero_button:hover{
    text-decoration: none;
}

.krown-button:hover{
    text-decoration: none;
}

.widget ul a, .widget .tagcloud a{
    text-decoration: none;
}

.footer .widget a:hover, .footer .widget ul li.current-cat a:hover, .footer .widget ul li.current_page_item a:hover{
    color:#BB212B;
}

.bb-social-share__link i{
    border-radius: 5px;
}

.submitBtnSize{
    width: 20%;
    margin: auto;
}

/* Small devices (tablets, 768px and up) */
@media(max-width:767px){
    body.sticky-header #footer1{
        text-align: center;
    }
    .submitBtnSize{
        width: 100%;
    }
}

.um-profile-nav{
    height:40px;
    border-radius: 8px 8px 0px 0px;
}
.gradlift-loans{

}
.half{
    margin:0 auto;
    width: 80%;
}

.hero_button:hover{
    text-decoration: none;
    border-radius: 3px;
    font-weight: normal;
}

.krown-button:hover{
    text-decoration: none;
}

.widget ul a, .widget .tagcloud a{
    text-decoration: none;
}

.footer .widget a:hover, .footer .widget ul li.current-cat a:hover, .footer .widget ul li.current_page_item a:hover{
    color:#BB212B;
}

.bb-social-share__link i{
    border-radius: 5px;
}

.submitBtnSize{
    width: 20%;
    margin: auto;
}

@media(min-width:768px){

    li.leftVerticalLine {
        border-left: 1px solid #000000
    }

    li.rightVerticalLine {
        border-right: 1px solid #000000
    }

    li.navTitle {
        top: -10px;
    }
    li.navTitle h6 {
        font-weight: normal;
        font-size: 14px;
    }
    li.navTitle.forStudents {
        position: relative;
        left: 123px;
        margin-left: -70px;
    }
    li input.headerSearch#s {
        height: 30px;
        margin-top: 13px;
        background-position: right -60px;
        margin-right: 8px;
        margin-left: 8px;
        width: 98%;
        font-size: 13px;
        font-weight: 400;
        padding-right: 28px;
        text-overflow: clip;
        border-radius: 7px;
        border: solid 1px gray;
        padding-top: 0px;
        padding-bottom: 0px;
        box-shadow: 0px 1px 2px #e0e0e0 !important;
    }
    div.main-header-navbar#top-nav ul li {

    }
    li.navTitle.forBakers {
        position: relative;
        left: 90px;
        margin-left: -70px;
    }

    div.main-header-navbar#top-nav ul li a {
        margin-left: 8px;
        margin-right: 8px;
    }
}

/* Small devices (tablets, 768px and up) */
@media(max-width:767px){
    body.sticky-header #footer1{
        text-align: center;
    }
    .submitBtnSize{
        width: 100%;
    }
}

.um-profile-nav{
    height:40px;
    border-radius: 8px 8px 0px 0px;
}
.gradlift-loans{

}
.half{
    margin:0 auto;
    width: 80%;
}

.activity-header{
    color: #4c4c4c;
    background-color: #B1D239;
    box-shadow: 0px 5px 10px gray;
    padding-bottom: 10px;
}
#header{
    background-color: rgba(255, 255, 255, 0.97);
    height: 74px;
}
nav.navbar.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0px;
}

nav.navbar.navbar-default div.navbar-header  button {
    margin-right: 0;
}

#top-nav {
    margin-top: 19px;
}

#top-nav ul li a {
    font-weight: 500;
    color: #137497;
    padding: 4px 0 4px 0;
    margin: 16px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    border-bottom: 2px solid transparent;
}

#top-nav ul li a:hover {
    border-bottom-color: #BDDCF2;
}



#top-nav ul li a:active {
    color: #6784A0;
    border-bottom-color: #BDDCF2;
}

button.navbar-toggle {
    margin-top: 20px;
}

a#logo {
    margin-top: 14px;
    position: relative;

}

ul#index-menu li a {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.08);
    border-top: 1px dashed rgba(0, 0, 0, 0.08);
    border-radius: 0px;
}

li.active {
    background-color: #55AF57;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    border-radius: 0px;
    box-shadow: 0px 5px 7px gray;
    transition: box-shadow 0.3s;
}
li.active:hover {
    box-shadow: 0px 5px 20px rgba(128, 128, 128, 0.9);
    border-radius: 0px;
}

div.profile-overview {
    float: left;
}

div.profile-overview figure.img {
    max-width: 196px;
    max-height: 200px;
    overflow: hidden;
}

div.pledge-progress {
    margin-top: 10px;
}

article.profile-overview-item {
    width: 200px;
    background-color: #E6E6E6;
    box-shadow: 0px 5px 10px gray;
}


article.profile-overview-item div.container {
    margin: -10px 0 0 0;
    padding: 0px 10px 0px 10px;
    text-align: center;

}

article.profile-overview-item div aside ul {
    float: inherit;
    margin-bottom: 20px;
}

article.profile-overview-item button {
    margin-bottom: 14px;
    border-radius: 0px;
    width: 100%;
    box-shadow: 0px 5px 15px gray;
}

article.profile-overview-item div.container div.cats {
    margin-bottom: 10px;
}

.highlight-background {



}

#content div.index-footer {
    color: white;
    font-size: 6px;
    margin-top: 20px;
    background-color: #EFEFEF;
    box-shadow: 0px 18px 32px -14.5px #ABAAAA;
}

#content div.index-footer div p {
    font-size: 13px;
    text-align: left;
    line-height: 16px;

}

#content div.index-footer div h4 {
    text-transform: none; !important;
    color: white;
    margin-left: 20px;
}

div.index-footer > div {
    margin-left: 70px;
    margin-right: 70px;
}

div#index-footer-below {
    margin-left: 70px;
    margin-right: 70px;
}


.highlight-gradstory-background {
    box-shadow: 0px 18px 32px -14.5px #ABAAAA;
    padding-bottom: 20px;
    color: #656464;
    text-align: justify;
}

.highlight-gradstory-background label {
    color: #656464;
}

div#profile-view-body div.um-field {
    padding-left: 20px;
    padding-right: 20px;
}

.page-header-background {
    background-color: #ffff00;
    margin-right: 0;
    margin-left: 0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efefef+1,ffffff+74 */
background: rgb(239,239,239); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(239,239,239,1) 1%, rgba(255,255,255,1) 74%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(239,239,239,1) 1%,rgba(255,255,255,1) 74%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(239,239,239,1) 1%,rgba(255,255,255,1) 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}


.centered-div {
    float: none;
    margin: 0 auto;
}


div.profile-cards-column {
    min-width: 240px;
}

nav ul.pager li a {
    color: #337ab7;
    text-decoration: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.main-header-navbar ul li .presentation {

}

a.btn-social {
    display: block;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: all .3s ease-out;
}

.section5-icon{
    height: 70px;
    width: 70px;
    float: left;
}


.disable-acc-cancel{
    color: white;
    background: #3ba1da;
}
.disable-acc-cancel:hover{
    color: white;
    background: #44b0ec;
}
.btn-new {
    background-color: #55AF57 !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    line-height: 15px !important;
    border-radius: 0px !important;
    box-shadow: 0px 5px 7px gray !important;
    transition: box-shadow 0.3s !important;
}
.btn-new:hover {
    background-color: #48954a !important;
    box-shadow: 0px 5px 20px rgba(128, 128, 128, 0.9) !important;
    border-radius: 0px !important;
}

.btn-new-danger {
    background-color: #c0392b !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    line-height: 15px !important;
    border-radius: 0px !important;
    box-shadow: 0px 5px 7px gray !important;
    transition: box-shadow 0.3s !important;
}
.btn-new-danger:hover {
    background-color: #e74c3c !important;
    box-shadow: 0px 5px 20px rgba(128, 128, 128, 0.9) !important;
    border-radius: 0px !important;
}

.twitter-new{

    position: static;
    visibility: visible;
    display: inline-block;
    height: 250px !important;
    padding: 0px;
    border: none;
    max-width: 100%;
    min-width: 180px;
    margin-top: -50px;
    margin-bottom: 0px;
    min-height: 200px;
}

.steps-number{
    color: #073556;
    font-size: 10vmax;
    position: absolute;
    left: 15%;
}
.steps-text{
    color: #B0B9C4;
    font-size: 2vmax;
    line-height: 22px;
    position: relative;
    float: left;
    left: 30%;
    margin: 0px;

}
.steps-arrow{

}
.steps-wraper{
    background-color: #0d6aad;



}
.step-height{
    height: 160px;
    padding-top: 60px;
}
.step-description{
    background-color: #073556;
    color: #B0B9C4;
    padding:25px 10px 0px 10px ;
    font-size: large;
}
@media (max-width: 420px){
    .steps-number{
    color: #073556;
    font-size: 10vmax;
    position: absolute;
    left: 15%;
}
.steps-text{
    color: #B0B9C4;
    font-size: 3vmax;
    line-height: 22px;
    position: relative;
    float: left;
    left: 40%;
    top: -50%;
    margin: 0px;
    padding-left: 10px;
    border-left: solid 1px darkslategray;

}
.steps-arrow{

}
.steps-wraper{
    background-color: #0d6aad;



}
.step-height{
    height: 100px;
    padding-top: 40px;
}
.step-description{
    background-color: #073556;
    color: #B0B9C4;
    padding:25px 10px 0px 10px ;
    font-size: large;
}
}

@media (max-width:740px) and (min-width:420px) {
       .steps-number{
    color: #073556;
    font-size: 10vmax;
    position: absolute;
    left: 15%;
}
.steps-text{
    color: #B0B9C4;
    font-size: 3.5vmax;
    line-height: 22px;
    position: relative;
    float: left;
    top: -50%;
    left: 40%;
    margin: 0px;
    padding-left: 10px;
    border-left: solid 1px darkslategray;

}
.steps-arrow{

}
.steps-wraper{
    background-color: #0d6aad;



}
.step-height{
    height: 100px;
    padding-top: 40px;
}
.step-description{
    background-color: #073556;
    color: #B0B9C4;
    padding:25px 10px 0px 10px ;
    font-size: large;
}
}

.new-style-profile{
    font-size: small !important;
}

.nav-bar-active {
    text-decoration: underline;
}

@media (max-width:579px) {
    div.profile-cards-column {
        float: none;
        margin: auto;
    }
}