.login.um a.um-button.um-button-social {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.login.um a.um-button.um-button-facebook {
    background-color: #3b5998 !important
}

.login.um a.um-button.um-button-facebook:hover {
    background-color: #324D84 !important
}

.login.um a.um-button.um-button-facebook {
    color: #fff !important
}

.login.um {
    max-width: 450px;
}

.login.um .um-tip:hover,
.login.um .um-field-radio.active i,
.login.um .um-field-checkbox.active i,
.login.um .um-member-name a:hover,
.login.um .um-member-more a:hover,
.login.um .um-member-less a:hover,
.login.um .um-members-pagi a:hover,
.login.um .um-cover-add:hover,
.login.um .um-profile-subnav a.active,
.login.um .um-item-meta a,
.um-account-name a:hover,
.um-account-nav a.current,
.um-account-side li a.current span.um-account-icon,
.um-account-side li a.current:hover span.um-account-icon,
.um-dropdown li a:hover,
i.um-active-color,
span.um-active-color {
    color: #3ba1da;
}

.login.um .um-field-group-head,
.picker__box,
.picker__nav--prev:hover,
.picker__nav--next:hover,
.login.um .um-members-pagi span.current,
.login.um .um-members-pagi span.current:hover,
.login.um .um-profile-nav-item.active a,
.login.um .um-profile-nav-item.active a:hover,
.upload,
.um-modal-header,
.um-modal-btn,
.um-modal-btn.disabled,
.um-modal-btn.disabled:hover,
div.uimob800 .um-account-side li a.current, div.uimob800 .um-account-side li a.current:hover {
    background: #3ba1da;
}

.login.um .um-field-group-head:hover,
.picker__footer,
.picker__header,
.picker__day--infocus:hover,
.picker__day--outfocus:hover,
.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted,
.picker__list-item:hover,
.picker__list-item--highlighted:hover,
.picker--focused .picker__list-item--highlighted,
.picker__list-item--selected,
.picker__list-item--selected:hover,
.picker--focused .picker__list-item--selected {
    background: #44b0ec;
}

.login.um {
    margin-left: auto !important;
    margin-right: auto !important;
}

.login.um input[type=submit]:disabled:hover {
    background: #3ba1da;
}

.login.um input[type=submit].um-button,
.login.um input[type=submit].um-button:focus,
.login.um a.um-button,
.login.um a.um-button.um-disabled:hover,
.login.um a.um-button.um-disabled:focus,
.login.um a.um-button.um-disabled:active {
    background: #3ba1da;
}

.login.um a.um-link {
    color: #3ba1da;
}

.login.um input[type=submit].um-button:hover,
.login.um a.um-button:hover {
    background-color: #44b0ec;
}

.login.um a.um-link:hover, .login.um a.um-link-hvr:hover {
    color: #44b0ec;
}

.login.um .um-button {
    color: #ffffff;
}

.login.um .um-button.um-alt,
.login.um input[type=submit].um-button.um-alt {
    background: #eeeeee;
}

.login.um .um-button.um-alt:hover,
.login.um input[type=submit].um-button.um-alt:hover {
    background: #e5e5e5;
}

.login.um .um-button.um-alt,
.login.um input[type=submit].um-button.um-alt {
    color: #666666;
}

.login.um .um-form input[type=text],
.login.um .um-form input[type=email],
.login.um .um-form input[type=password],
.login.um .um-form textarea,
.login.um .upload-progress,
.select2-container .select2-choice,
.select2-drop,
.select2-container-multi .select2-choices,
.select2-drop-active,
.select2-drop.select2-drop-above {
    border: 2px solid #ddd !important;
}

.login.um .um-form .select2-container-multi .select2-choices .select2-search-field input[type=text] {
    border: none !important
}

.login.um .um-form input[type=text]:focus,
.login.um .um-form input[type=email]:focus,
.login.um .um-form input[type=password]:focus,
.login.um .um-form textarea:focus {
    border: 2px solid #bbb !important;
}

.login.um .um-form input[type=text],
.login.um .um-form input[type=email],
.login.um .um-form input[type=password],
.login.um .um-form textarea,
.select2-container .select2-choice,
.select2-container-multi .select2-choices {
    background-color: #ffffff;
}

.login.um .um-form input[type=text]:focus,
.login.um .um-form input[type=email]:focus,
.login.um .um-form input[type=password]:focus,
.login.um .um-form textarea:focus {
    background-color: #ffffff;
}

.login.um .um-form ::-webkit-input-placeholder {
    color: #e0e0e0;
    opacity: 1 !important;
}

.login.um .um-form ::-moz-placeholder {
    color: #e0e0e0;
    opacity: 1 !important;
}

.login.um .um-form ::-moz-placeholder {
    color: #e0e0e0;
    opacity: 1 !important;
}

.login.um .um-form ::-ms-input-placeholder {
    color: #e0e0e0;
    opacity: 1 !important;
}

.select2-default,
.select2-default *,
.select2-container-multi .select2-choices .select2-search-field input {
    color: #e0e0e0;
}

.login.um .um-field-icon i,
.select2-container .select2-choice .select2-arrow:before,
.select2-search:before,
.select2-search-choice-close:before {
    color: #aaaaaa;
}

.login.um span.um-req {
    color: #000000;
}

.login.um .um-field-label {
    color: #555555;
}

.login.um .um-form input[type=text],
.login.um .um-form input[type=email],
.login.um .um-form input[type=password],
.login.um .um-form textarea {
    color: #000000;
}

.login.um .um-form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #000000;
}

.login.um .um-form input:-webkit-autofill:focus {
    -webkit-box-shadow: none, 0 0 0 50px white inset;
    -webkit-text-fill-color: #000000;
}

.login.um .um-tip {
    color: #cccccc;
}


div div div.um-field-area textarea {
    height: 80px;
    margin-bottom: 16px;
}


.twitter-typeahead{
width:100%;
}


.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #006dcc;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {

  width: 100%;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-menu .tt-dataset {
    overflow-y: scroll;
    max-height: 280px;
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

div.daterange {
    margin-top: 6px;
    margin-bottom: -20px;
}

div.daterange ul li:nth-child(odd) {
    width: 44.35%;
}

div.daterange ul li input {
    text-align: left;
}

div.dropdown select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #ddd !important;

    padding: 0 12px !important;
    width: 100%;
    display: block !important;
    -moz-border-radius: 0px;
    border-radius: 0px;
    cursor: text !important;
    font-size: 15px !important;
    height: 40px !important;
    box-sizing: border-box !important;
    box-shadow: none !important;
    margin: 0 !important;
    position: static;
    outline: 0 !important;
    font-family: 'Montserrat','Helvetica Neue',Helvetica,Arial,sans-serif;
    resize: none;
}

div#social-network-login a {
    width: inherit;
}