.register.um a.um-button.um-button-social {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.register.um a.um-button.um-button-facebook {
    background-color: #3b5998 !important
}

.register.um a.um-button.um-button-facebook:hover {
    background-color: #324D84 !important
}

.register.um a.um-button.um-button-facebook {
    color: #fff !important
}

.register.um {
    max-width: 450px;
}

.register.um .um-tip:hover,
.register.um .um-field-radio.active i,
.register.um .um-field-checkbox.active i,
.register.um .um-member-name a:hover,
.register.um .um-member-more a:hover,
.register.um .um-member-less a:hover,
.register.um .um-members-pagi a:hover,
.register.um .um-cover-add:hover,
.register.um .um-profile-subnav a.active,
.register.um .um-item-meta a,
.um-account-name a:hover,
.um-account-nav a.current,
.um-account-side li a.current span.um-account-icon,
.um-account-side li a.current:hover span.um-account-icon,
.um-dropdown li a:hover,
i.um-active-color,
span.um-active-color {
    color: #3ba1da;
}

.register.um .um-field-group-head,
.picker__box,
.picker__nav--prev:hover,
.picker__nav--next:hover,
.register.um .um-members-pagi span.current,
.register.um .um-members-pagi span.current:hover,
.register.um .um-profile-nav-item.active a,
.register.um .um-profile-nav-item.active a:hover,
.upload,
.um-modal-header,
.um-modal-btn,
.um-modal-btn.disabled,
.um-modal-btn.disabled:hover,
div.uimob800 .um-account-side li a.current, div.uimob800 .um-account-side li a.current:hover {
    background: #3ba1da;
}

.register.um .um-field-group-head:hover,
.picker__footer,
.picker__header,
.picker__day--infocus:hover,
.picker__day--outfocus:hover,
.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted,
.picker__list-item:hover,
.picker__list-item--highlighted:hover,
.picker--focused .picker__list-item--highlighted,
.picker__list-item--selected,
.picker__list-item--selected:hover,
.picker--focused .picker__list-item--selected {
    background: #44b0ec;
}

.register.um {
    margin-left: auto !important;
    margin-right: auto !important;
}

.register.um input[type=submit]:disabled:hover {
    background: #3ba1da;
}

.register.um input[type=submit].um-button,
.register.um input[type=submit].um-button:focus,
.register.um a.um-button,
.register.um a.um-button.um-disabled:hover,
.register.um a.um-button.um-disabled:focus,
.register.um a.um-button.um-disabled:active {
    background: #3ba1da;
}

.register.um a.um-link {
    color: #3ba1da;
}

.register.um input[type=submit].um-button:hover,
.register.um a.um-button:hover {
    background-color: #44b0ec;
}

.register.um a.um-link:hover, .register.um a.um-link-hvr:hover {
    color: #44b0ec;
}

.register.um .um-button {
    color: #ffffff;
}

.register.um .um-button.um-alt,
.register.um input[type=submit].um-button.um-alt {
    background: #eeeeee;
}

.register.um .um-button.um-alt:hover,
.register.um input[type=submit].um-button.um-alt:hover {
    background: #e5e5e5;
}

.register.um .um-button.um-alt,
.register.um input[type=submit].um-button.um-alt {
    color: #666666;
}

.register.um .um-form input[type=text],
.register.um .um-form input[type=password],
.register.um .um-form input[type=email],
.register.um .um-form textarea,
.register.um .upload-progress,
.select2-container .select2-choice,
.select2-drop,
.select2-container-multi .select2-choices,
.select2-drop-active,
.select2-drop.select2-drop-above {
    border: 2px solid #ddd !important;
}

.register.um .um-form .select2-container-multi .select2-choices .select2-search-field input[type=text] {
    border: none !important
}

.register.um .um-form input[type=text]:focus,
.register.um .um-form input[type=password]:focus,
.register.um .um-form input[type=email]:focus,
.register.um .um-form textarea:focus {
    border: 2px solid #bbb !important;
}

.register.um .um-form input[type=text],
.register.um .um-form input[type=password],
.register.um .um-form input[type=email],
.register.um .um-form textarea,
.select2-container .select2-choice,
.select2-container-multi .select2-choices {
    background-color: #ffffff;
}

.register.um .um-form input[type=text]:focus,
.register.um .um-form input[type=password]:focus,
.register.um .um-form input[type=email]:focus,
.register.um .um-form textarea:focus {
    background-color: #ffffff;
}

.register.um .um-form ::-webkit-input-placeholder {
    color: #e0e0e0;
    opacity: 1 !important;
}

.register.um .um-form ::-moz-placeholder {
    color: #e0e0e0;
    opacity: 1 !important;
}

.register.um .um-form ::-moz-placeholder {
    color: #e0e0e0;
    opacity: 1 !important;
}

.register.um .um-form ::-ms-input-placeholder {
    color: #e0e0e0;
    opacity: 1 !important;
}

.select2-default,
.select2-default *,
.select2-container-multi .select2-choices .select2-search-field input {
    color: #e0e0e0;
}

.register.um .um-field-icon i,
.select2-container .select2-choice .select2-arrow:before,
.select2-search:before,
.select2-search-choice-close:before {
    color: #aaaaaa;
}

.register.um span.um-req {
    color: #000000;
}

.register.um .um-field-label {
    color: #555555;
}

.register.um .um-form input[type=text],
.register.um .um-form input[type=password],
.register.um .um-form input[type=email],
.register.um .um-form textarea {
    color: #000000;
}

.register.um .um-form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #000000;
}

.register.um .um-form input:-webkit-autofill:focus {
    -webkit-box-shadow: none, 0 0 0 50px white inset;
    -webkit-text-fill-color: #000000;
}

.register.um .um-tip {
    color: #cccccc;
}

.errorlist {
    color: #8b2130;
}