{% extends 'account/base.html' %}
{% load staticfiles %}

{% block account_content %}
    <div class="um-account-main">

        <form method="POST">

            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="um-field um-field-first_name" >
                <div class="um-field-label">
                    <label for="{{ form.old_password.id_for_label }}" {% if form.old_password.errors %} class="errorlist" {% endif %}> {{ form.old_password.label }} </label>
                    <div class="um-clear"></div>
                </div>
                <div class="um-field-area">
                    {{ form.old_password }}
                </div>
                {{ form.old_password.errors }}
            </div>

            <div class="um-field um-field-first_name" >
                <div class="um-field-label">
                    <label for="{{ form.new_password1.id_for_label }}" {% if form.new_password1.errors %} class="errorlist" {% endif %}> {{ form.new_password1.label }} </label>
                    <div class="um-clear"></div>
                </div>
                <div class="um-field-area">
                    {{ form.new_password1 }}
                </div>
                {{ form.new_password1.errors }}
            </div>

            <div class="um-field um-field-first_name" >
                <div class="um-field-label">
                    <label for="{{ form.new_password2.id_for_label }}" {% if form.new_password2.errors %} class="errorlist" {% endif %}> {{ form.new_password2.label }} </label>
                    <div class="um-clear"></div>
                </div>
                <div class="um-field-area">
                    {{ form.new_password2 }}
                </div>
                {{ form.new_password2.errors }}
            </div>
            <br>

            <div class="um-col-alt">
                <div class="um-left um-half"><input type="submit" value="Submit" class="um-button btn-new" /></div>
                <div class="um-right um-half"><a href="{% url 'account-general' %}" class="um-button btn-new-danger">Cancel</a></div>
            </div>

        </form>

    </div>
{% endblock %}