{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <!-- Main Wrapper Start -->
    <div id="content" class="clearfix layout-right-sidebar">
        <div class="index-footer">
            <div class="all-blogs">
            {% for blogs in blogs %}
                {% include 'blog/blogs-row.html' %}
            {% endfor %}
            </div>
        </div>
        <!-- Main Wrapper End -->
    </div>

{% endblock %}