{% load social_share %}
<div class="blog-div">
    <h2 class="blog-title">
        <span>{{ blog.title }}</span>
    </h2>
    <section class="blog-section">
        <div class="container-fluid ">
            <p class="lead" style="text-align: left">
                <span class="glyphicon glyphicon-calendar"></span>&nbsp{{ blog.lunch_datetime }}
            </p>
        </div>
        <a href="{{ blog.link }}">
        <img class="img-responsive blog-image-index" src="{{ blog.image_url }}" alt="{{ blog.writer_name }}">
        </a>
        <hr>
        {% if is_blog_summary %}
        <div> {{ blog.summary|safe }} </div>
        <a class="btn btn-success flat-btn" href="{{ blog.link }}">
            Read More
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        {% else %}
        <ul class="bb-social-share__list">

            <li class="bb-social-share__item">
                {% post_to_facebook ""%}
            </li>

            <li class="bb-social-share__item">
                {% post_to_twitter "" ""%}
            </li>

            <li class="bb-social-share__item">
                <a href="http://www.linkedin.com/shareArticle?url={{ BASE_URL }}{{ blog.link }}&title=Gradlift - {{ blog.title }}"
                   class="bb-social-share__link"
                   target="_blank"
                   data-social-network="linkedin">
                    <i class="fa fa-linkedin"></i>
                    <span>LinkedIn</span>
                </a>
            </li>

            <li class="bb-social-share__item">
                {% post_to_gplus ""%}
            </li>

        </ul>
        <div> {{ blog.content|safe }} </div>
        {% endif %}
    </section>
</div>