{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <!-- Main Wrapper Start -->
    <div id="content" class="clearfix layout-fixed-width background-color">
        <div id="home_vid" style="background-color: #073556;border:none !important">
            <div class="vid_inner">
                <!-- Begin Video.js Responsive Wrapper -->
                <div style='max-width:1600px'>
                    <div class='video-wrapper' style='padding-bottom:56.25%;'>
                        <!-- Begin Video.js -->
                        <video id="example_video_id_537343862"
                               class="video-js vjs-default-skin"
                               width="1600" height="900"
                               poster="{% static 'website/images/gl-video.jpg' %}"
                               preload="none" autoplay loop muted data-setup='[]'>
                            <source src="{% static 'website/videos/gl-video.mp4' %}" type='video/mp4' />
                            <source src="{% static 'website/videos/gl-video.webm' %}" type='video/webm; codecs="vp8, vorbis"' />
                            <source src="{% static 'website/videos/gl-video.ogg' %}" type='video/ogg; codecs="theora, vorbis"' />
                        </video>
                        <!-- End Video.js -->
                    </div>
                </div>
                <!-- End Video.js Responsive Wrapper -->
            </div>
            <div class="disp_table" id="vid_text">
                <div class="disp_tablecell">
                    <h1 class="front_page video-text-h1">100% Verified Tuition Crowdfunding</h1>
                    <h1 class="front_page video-text-fake-h3">Raise Money for College</h1>
                    {% if user.is_authenticated %}
                    <a class="hero_button" href="{% url 'profile' user.profile.link %}">My Profile</a>
                    {% else %}
                    <a class="hero_button" href="{% url 'register' %}">Student Signup</a>
                    {% endif %}
                    <div class="opacity"></div>
                </div>
            </div>
        </div>

        <div class="steps-wraper container-fluid " >
            <div class="row">
                <div class="col-sm-4">
                    <div class="step-height">
                        <p class="steps-number ">01</p>
                        <br>
                        <p class="steps-text">Signup and Share.</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="step-height">
                        <p class="steps-number">02</p>
                        <br>
                        <p class="steps-text">Raise $$$ now.</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="step-height">
                        <p class="steps-number">03</p>
                        <br>
                        <p class="steps-text">We Send Your Funds.</p>
                    </div>
                </div>
                <div class="step-description col-xs-12 text-center">
                    <p>GradLift is for students of all ages so start early and keep raising money over time! We send your funds directly to school, loan provider, or 529 College Savings Account <small> <a style="color: #55AF57;text-decoration: none" href="{% url 'about-us' %}">Learn More</a> </small> <br>&quot;<i>I raised $250 yesterday by using GradLift</i>&quot; – Emma </p>
                </div>
            </div>

        </div>

        <div id="custom-header" class="header-below" style="height:330px">
            <div class="cta" style="width:50%">
                <div class="cta-back" style="background-image:url({% static 'website/images/for_donors.jpg' %})"></div>
                <div class="cta-holder">
                    <h2>FOR<br>BACKERS</h2>
                    <div class="cta-link"><a class="krown-button custom" href="{% url 'discover' %}" target="_self">FIND STUDENTS</a></div>
                </div>
            </div>
            <div class="cta" style="width:50%">
                <div class="cta-back" style="background-image:url({% static 'website/images/students.jpg' %})"></div>
                <div class="cta-holder">
                    <h2>FOR<br>STUDENTS</h2>
                    <div class="cta-link"><a class="krown-button custom" href="{% if user.is_authenticated %} {% url 'profile' user.profile.link %} {% else %} {% url 'register' %} {% endif %}" target="_self">GET STARTED</a></div>
                </div>
            </div>
        </div>

        {% include 'index/profile-overviews.html'%}

        <div id="about-us" style="margin-bottom:90px;"></div>
        <div class="highlight-background row index-footer" id="index-footer">
            <div>
                <div class="col-sm-3 padding-zero">
                    <div class="card-flat">
                    <p style="margin-top: 22px;margin-bottom: 0px;text-align: left;"><i class="krown-icon-money i-regular b-float" style="color:#55AF57"></i></p>
                    <h4>Every Dollar<br>Helps</h4>
                    <p>GradLift was created to harness the power of Crowdfunding for a noble cause. Small contributions add up quick so join the GradLift Movement and help your favorite students!</p>
                    </div>

                </div>
                <div class="col-sm-3 padding-zero">
                    <div class="card-flat">
                    <p style="margin-top: 22px;margin-bottom: 0px;text-align: left;"><i class="krown-icon-graduation-cap-1 i-regular b-float" style="color:#55AF57"></i></p>
                    <h4>Empower<br>Students</h4>
                    <p>By helping students unshackle themselves from the burden of debt, you are giving them a brighter future. Be a part of their journey and watch them succeed!</p>
                    </div>
                </div>
                <div class="col-sm-3 padding-zero">
                    <div class="card-flat">
                    <p style="margin-top: 22px;margin-bottom: 0px;text-align: left;"><i class="krown-icon-ok i-regular b-float" style="color:#55AF57"></i></p>
                    <h4>Authenticated<br>Fundraising</h4>
                    <p>We verify all students, tuition, and loan information so that our generous Backers feel comfortable with contributing towards a Validated cause.</p>
                    </div>
                </div>
                <div class="col-sm-3 padding-zero">
                    <div class="card-flat">
                    <p style="margin-top: 22px;margin-bottom: 0px;text-align: left;"><i class="krown-icon-wallet i-regular b-float" style="color:#55AF57"></i></p>
                    <h4>Verified<br>Payments</h4>
                    <p>All funds raised with GradLift go straight to the school and student loan providers, insuring that all contributions go only towards their intended purpose.</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="highlight-background index-footer">
            <p class="blog-title-bar">Gradlift Blog</p>

                {% with blogs.0 as blogs %}
                    <div class="row">
                        {% for blog in blogs %}
                            <div class="col-md-3">
                                {% include 'blog/blog-section.html' %}
                            </div>
                        {% endfor %}
                        <div class="col-md-3">
                            <a class="twitter-timeline" href="https://twitter.com/GradLift"  height="440" width="1000" data-widget-id="721164459679481856">Tweets by @GradLift</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                        </div>
                    </div>
                {% endwith %}


            <a class="btn col-xs-12  waves-effect waves-effect" href="{% url 'blogs' %}">More Blogs</a>
            <br> <br>
        </div>

        <div class="container">
        </div>

        <!-- Main Wrapper End -->
    </div>

    <!-- Begin MailChimp Signup Form -->



<div id="mc_embed_signup" style="
    padding-top: 22px;
">
    <form action="//gradlift.us9.list-manage.com/subscribe/post?u=dba5018be0d6f9e6e0ff16eb2&amp;id=83f5633ca2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
        <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL">Subscribe to GradLift updates</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required="" style="
    width: 50%;
">
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dba5018be0d6f9e6e0ff16eb2_83f5633ca2" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="
    padding: 0 !important;
    left: 54%;
    position: absolute;
    float: left;
    width: 28% !important;
    min-width: inherit;
    background-color: #5CB85C;
    top: 50%;
    font-size: 90%;
    max-width: 124px;
"></div>
        </div>
    </form>
    </div>


    <!--End mc_embed_signup-->

{% endblock %}
