<div class="clearfix wrapper">
    <div class="normal-content no-boxed">
        <p>
        <div class="krown-tabs clearfix">
            <ul class="nav nav-pills nav-justified info middle-nav" id="index-menu">
                <li role="presentation" class="active"><a href id="featured-gradline-item">Featured</a></li>
                <li role="presentation"><a id="recently-added-item" href>Recently Added</a></li>
                <li role="presentation"><a id="high-school-item" href>High School</a></li>
                <li role="presentation"><a id="college-item" href>College</a></li>
                <li role="presentation"><a id="grad-school-item" href>Grad School</a></li>
            </ul>

            <div id="featured-gradline-section" class="profile-overviews profile-cards row">

                {% for featured_profile_overview in featured_profile_overviews %}
                    {% with featured_profile_overview as profile_overview %}
                        <div class="profile-overview">
                        {% include 'profile/profile-overview.html' %}
                        </div>
                    {% endwith %}
                {% endfor %}

            </div>

            {% if featured_profile_overviews_max_page_number > 1 %}
            <br>
            <nav
                 id="featured-gradline-pagination"
                 class="pagination-cards"
                 data-pagination-page-number="1"
                 data-pagination-max-page-number="{{ featured_profile_overviews_max_page_number }}"
                 data-pagination-page-id="featured-gradline-section">
                <ul class="pager">
                    <li class="previous disabled"><a href class="pagination-previous"><span aria-hidden="true">&larr;</span> Previous</a></li>
                    <li class="next"><a href class="pagination-next">Next <span aria-hidden="true">&rarr;</span> </a></li>
                </ul>
            </nav>
            {% endif %}

            <div id="recently-added-section" class="profile-overviews profile-cards row" >

                {% for recently_added_profile_overview in recently_added_profile_overviews %}
                    {% with recently_added_profile_overview as profile_overview %}
                        <div class="profile-overview">
                        {% include 'profile/profile-overview.html' %}
                        </div>
                    {% endwith %}
                {% endfor %}

            </div>

            {% if recently_added_profile_overviews_max_page_number > 1 %}
            <br>
            <nav
                 id="recently-added-pagination"
                 class="pagination-cards"
                 data-pagination-page-number="1"
                 data-pagination-max-page-number="{{ recently_added_profile_overviews_max_page_number }}"
                 data-pagination-page-id="recently-added-section">
                <ul class="pager">
                    <li class="previous disabled"><a href class="pagination-previous"><span aria-hidden="true">&larr;</span> Previous</a></li>
                    <li class="next"><a href class="pagination-next">Next <span aria-hidden="true">&rarr;</span> </a></li>
                </ul>
            </nav>
            {% endif %}

            <div id="high-school-section" class="profile-overviews profile-cards row">

                {% for high_school_profile_overview in high_school_profile_overviews %}
                    {% with high_school_profile_overview as profile_overview %}
                        <div class="profile-overview">
                        {% include 'profile/profile-overview.html' %}
                        </div>
                    {% endwith %}
                {% endfor %}

            </div>

            {% if high_school_profile_overviews_max_page_number > 1 %}
            <br>
            <nav
                 id="high-school-pagination"
                 class="pagination-cards"
                 data-pagination-page-number="1"
                 data-pagination-max-page-number="{{ high_school_profile_overviews_max_page_number }}"
                 data-pagination-page-id="high-school-section">
                <ul class="pager">
                    <li class="previous disabled"><a href class="pagination-previous"><span aria-hidden="true">&larr;</span> Previous</a></li>
                    <li class="next"><a href class="pagination-next">Next <span aria-hidden="true">&rarr;</span> </a></li>
                </ul>
            </nav>
            {% endif %}

            <div id="college-section" class="profile-overviews profile-cards row">

                {% for college_profile_overview in college_profile_overviews %}
                    {% with college_profile_overview as profile_overview %}
                        <div class="profile-overview">
                        {% include 'profile/profile-overview.html' %}
                        </div>
                    {% endwith %}
                {% endfor %}

            </div>

            {% if college_profile_overviews_max_page_number > 1 %}
            <br>
            <nav
                 id="college-pagination"
                 class="pagination-cards"
                 data-pagination-page-number="1"
                 data-pagination-max-page-number="{{ college_profile_overviews_max_page_number }}"
                 data-pagination-page-id="college-section">
                <ul class="pager">
                    <li class="previous disabled"><a href class="pagination-previous"><span aria-hidden="true">&larr;</span> Previous</a></li>
                    <li class="next"><a href class="pagination-next">Next <span aria-hidden="true">&rarr;</span> </a></li>
                </ul>
            </nav>
            {% endif %}

            <div id="grad-school-section" class="profile-overviews profile-cards row">

                {% for grad_school_profile_overview in grad_school_profile_overviews %}
                    {% with grad_school_profile_overview as profile_overview %}
                        <div class="profile-overview">
                        {% include 'profile/profile-overview.html' %}
                        </div>
                    {% endwith %}
                {% endfor %}

            </div>

            {% if grad_school_profile_overviews_max_page_number > 1 %}
            <br>
            <nav
                 id="grad-school-pagination"
                 class="pagination-cards"
                 data-pagination-page-number="1"
                 data-pagination-max-page-number="{{ grad_school_profile_overviews_max_page_number }}"
                 data-pagination-page-id="grad-school-section">
                <ul class="pager">
                    <li class="previous disabled"><a href class="pagination-previous"><span aria-hidden="true">&larr;</span> Previous</a></li>
                    <li class="next"><a href class="pagination-next">Next <span aria-hidden="true">&rarr;</span> </a></li>
                </ul>
            </nav>
            {% endif %}

        </div>
        <br>
    </div>
    <!-- Inner Wrapper End -->
</div>
